/* ==========================================================================
   Switchboxes 
   ========================================================================== */
   [class*="switch-st"] {
    display: none;
  }
  
  /* Code for switchbox 1 */
  .switch-st4 + label {
    width: 40px;
    height: 20px;
    background: #fff;
    border: 2px solid #47c8e8;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .switch-st4 + label:after {
    width: 10px;
    height: 10px;
    background: #47c8e8;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .switch-st4:checked + label {
    background: #47c8e8;
  }
  
  .switch-st4:checked + label:after {
    left: 23px;
    background: #fff;
  }
  
  /* End switchbox 1 */
  /* Code for switchbox 2 */
  .switch-st5 + label {
    width: 40px;
    height: 20px;
    background: rgba(71, 200, 232, 0.6);
    display: inline-block;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .switch-st5:checked + label {
    background: #47c8e8;
  }
  
  .switch-st5 + label:after {
    width: 14px;
    height: 14px;
    background: #fff;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .switch-st5:checked + label:after {
    left: 24px;
  }
  
  /* End switchbox 2 */
  /* Code for switchbox 3 */
  .switch-st6 + label {
    width: 30px;
    height: 10px;
    background: #47c8e8;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .switch-st6:checked + label {
    background: rgba(71, 200, 232, 0.6);
  }
  
  .switch-st6 + label:after {
    width: 14px;
    height: 14px;
    background: #fff;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  }
  
  .switch-st6:checked + label:after {
    left: 18px;
    background: #47c8e8;
  }
  
  /* End switchbox 3 */

  