/*=============================================>>>>>
 = hero-container =
===============================================>>>>>*/

.hero-container {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    position: relative;
}

.hero-container:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-contents {
    height: 50vh;
    padding: 50px 0;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 100%;
    position: relative;
}

.hero-contents h1 {
    padding: 0 0 10px;
    margin: 0 0;
    color: #fff;
}

.hero-contents p {
    color: #fff;
}

.hero-contents-container {
    display: table;
    width: 100%;
}

/*= End of hero-container ==============>>>>>*/