/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+less */


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}


/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    overflow: auto;
    margin: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}


/* Inline code */

:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.wpb_header {
    position: relative;
    background: #0dbefb;
    background: -moz-linear-gradient(45deg, #0dbefb 0%, #0276c4 100%);
    background: -webkit-linear-gradient(45deg, #0dbefb 0%, #0276c4 100%);
    background: linear-gradient(45deg, #0dbefb 0%, #0276c4 100%);
    padding: 20px;
}

.wpb_nav {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 330px;
    background: #fff;
    height: 100%;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding-top: 62px;
    transform: translateX(-330px);
    transition: all .3s;
    z-index: 9999;
}

.menu_open .wpb_nav {
    transform: translateX(0px);
}

.wpb_nav h2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 19px 0;
    margin: 0;
}

.wpb_nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.wpb_nav ul li a {
    padding: 12px 20px;
    display: block;
    transition: all .2s;
}

.wpb_nav ul li a:hover,
.wpb_nav ul li.active a {
    cursor: pointer;
    text-decoration: none;
    background: #0dbefb;
    color: #fff;
    padding-left: 22px;
}

.logo {
    margin: 0 auto;
    width: 200px;
}

#nav-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 99999;
    left: 22px;
}
.menu_open #nav-icon{
    position: fixed;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background-color: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(odd) {
    left: 0px;
}

#nav-icon span:nth-child(even) {
    left: 50%;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
    top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
    top: 13px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
    top: 26px;
}

.menu_open #nav-icon span {
    background: #0276c4;
}

.menu_open #nav-icon span:nth-child(1),
.menu_open #nav-icon span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu_open #nav-icon span:nth-child(2),
.menu_open #nav-icon span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu_open #nav-icon span:nth-child(1) {
    left: 5px;
    top: 7px;
}

.menu_open #nav-icon span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

.menu_open #nav-icon span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.menu_open #nav-icon span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menu_open #nav-icon span:nth-child(5) {
    left: 5px;
    top: 18px;
}

.menu_open #nav-icon span:nth-child(6) {
    left: calc(50% - 5px);
    top: 18px;
}

pre {
    position: relative;
    padding: 30px;
}

.toolbar-item {
    cursor: pointer;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 10px 10px;
    color: #795548;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.toolbar-item:hover,
.toolbar-item:focus,
.toolbar-item:active {
    outline: 0;
    background-color: #eee9e6;
    text-decoration: none;
}

.toolbar-item:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-size: contain;
    background-image: url('../images/clipboard.svg');
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 15px;
}

.demo_element_view_source_btn {
    -webkit-border-radius: 115px;
    -moz-border-radius: 115px;
    -ms-border-radius: 115px;
    border-radius: 115px;
    color: #fff;
    font-size: 17px;
    margin: 20px auto;
    padding: 12px;
    background: #0dbefb;
    transition: all .3s;
    display: block;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.demo_element_view_source_btn:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1) color: #fff;
}
.demo_element_view_source{
    display: none;
}
.required_files_for_demo{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background: #f5f2f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.element-headings{
    padding: 20px !important;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.wpb_seprator{
    border-top: 1px solid #ccc;
    margin: 40px auto;
    max-width: calc(100% - 40px)
}