/* 
Table of Contents
1.  Generic ----------------------------------------
     01. Base --------------------------------------
     02. Fonts -------------------------------------
     03. Helpers -----------------------------------
2.  Page Sections ----------------------------------
     01. Wrapper -----------------------------------
     02. Header ------------------------------------
     03. Main Content ------------------------------ 
     04. Footer ------------------------------------
*/


/* ==========================================================================
   I.   Generic
   ========================================================================== */


/* ------------------------------------------------------------
    Base
------------------------------------------------------------ */

html {
    color: #000e3c;
    font-size: 10px;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #000e3c;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
li{
    list-style: none;
}
@media (max-width: 991px) {
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    h5 {
        font-size: 1.6rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }
    h1 small {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.6rem;
    }
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
    margin-bottom: 0;
}


/* ------------------------------------------------------------
    Fonts
------------------------------------------------------------ */

@font-face {
    font-family: 'SofiaProSoftBold-Italic';
    src: url('../webfonts/2FED43_0_0.eot');
    src: url('../webfonts/2FED43_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2FED43_0_0.woff2') format('woff2'), url('../webfonts/2FED43_0_0.woff') format('woff'), url('../webfonts/2FED43_0_0.ttf') format('truetype');
}


/* ------------------------------------------------------------
    Helpers
------------------------------------------------------------ */

.float_left {
    float: left !important;
}

.float_right {
    float: right !important;
}

.float_none {
    float: none !important;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.d_none {
    display: none !important;
}

.d_inline {
    display: inline !important;
}

.d_inline_block {
    display: inline-block !important;
}

.d_block {
    display: block !important;
}

.d_table {
    display: table !important;
}

.d_table_cell {
    display: table-cell !important;
}

.invisible {
  visibility: hidden !important;
}

/* ==========================================================================
   2.   Page Sections
   ========================================================================== */


/* ------------------------------------------------------------
    Wrappers
------------------------------------------------------------ */

.wpb_container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}


/* ------------------------------------------------------------
    Header
------------------------------------------------------------ */

.wpb_header {}


/* ------- Header Nav ---- */

.wpb_nav {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}


/* ------------------------------------------------------------
    Main Content
------------------------------------------------------------ */

.wpb_main_content {}


/* ------------------------------------------------------------
    Footer
------------------------------------------------------------ */

.wpb_footer {}


/* ------- Footer Nav ---- */

.wpb_footer_nav {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
