/*==================================================
=            Code for animated banner 1            =
==================================================*/

.wpb_property-slider .wpb_item-1 {
  height: 730px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: .5;
}
.wpb_property-slider .wpb_item-1.portrait {
  background-color: #1c243d;
  background-size: auto 100%;
}
.wpb_property-slider .wpb_item-1.slick-active{
  opacity: 1;
}
.wpb_property-slider .owl-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 892px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wpb_property-slider .owl-controls .owl-buttons div, .slick-arrow {
  overflow: hidden;
  width: 35px;
  height: 62px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  text-indent: 100%;
  display: block;
  border:0;
  padding: 0;
  z-index: 1001;
}
.wpb_property-slider .owl-controls .owl-buttons:after {
  display: table;
  clear: both;
  content: "";
}
.wpb_property-slider .owl-controls .owl-buttons div.owl-prev, .slick-prev {
  float: left;
  background: url(../img/wpb_slider_left-arrow-1.png) no-repeat 0 0;
}
.wpb_property-slider .slick-prev {
  position: absolute;
  left: calc(50vw - 445px);
  top: 50%;
  /*left: 50%;*/
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
.wpb_property-slider .owl-controls .owl-buttons div.owl-next, .wpb_property-slider .slick-next {
  float: right;
  background: url(../img/wpb_slider_right-arrow-1.png) no-repeat 0 0;
}
.wpb_property-slider .slick-next{
  position: absolute;
  top: 50%;
  right: calc(50vw - 445px);
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
.wpb_property-slider .owl-pagination, .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.wpb_property-slider .owl-controls .owl-page, .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 13px;
  border-radius: 50%;
  background: #e6e6e6;
  cursor: pointer;
}
.wpb_property-slider .owl-controls .owl-page button, .wpb_property-slider .slick-dots li button{
	display: none;
}
.wpb_property-slider .owl-controls .owl-page.active, .slick-dots li.slick-active {
    background: #ed471a;
}

/*=====  End of Code for animated banner 1  ======*/
