/*=============================================>>>>>
 = Banner 1 =
===============================================>>>>>*/

.wpb_plate-form-banner {
    text-align: center;
    padding: 98px 0 48px;
    background: #4db6ac url(../img/wpb_banner_img1.jpg) no-repeat center 0;
    background-size: auto 100%;
}
.wpb_plate-form-banner h2 {
    font-size: 40px;
  color: #fff;
  margin: 0 0 29px;
  font-weight: bold;
}
.wpb_plate-form-banner h4 {
  color: #fff;
  opacity: .5;
  font-weight: 400;
  font-size: 24px;
  margin: 0px 0 73px;
}
.wpb_app-sharepopup li {
  display: inline-block;
  margin: 0 38px;
}
.wpb_app-sharepopup li a {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 767px){
    .wpb_plate-form-banner h2 {
        margin: 0 20px 22px;
    }
    .wpb_plate-form-banner h4 {
        letter-spacing: -0.01em;
        font-size: 14px;
        line-height: 18px;
        opacity: 1;
        margin: 0px 23px 29px;
    }
    .wpb_app-sharepopup li {
        margin: 0 30px;
    }
    .wpb_app-sharepopup img {
        width: 21px;
    }
}

/*= End of Banner 1 ==============>>>>>*/

/*=============================================>>>>>
 = Banner 2 =
===============================================>>>>>*/

.innerSlide{
    text-align: center;
    padding:50px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 12;
}
.bannerWrapper{
    position: relative;
}
.bannerWrapper>img{
    max-width: 100%;
    display: inline-block;
}
.banner_slider .innerSlide img{
    width: auto;
    max-width: 100%;
    display: inline-block;
}
.movebtm{
    width: 27px;
    height: 27px;
    background: url(../img/down_arrow_logo.png) no-repeat 0 0;
    display: inline-block;
    left: 50%;
    bottom: 32px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 10;
}
.banner_slider {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.welcomehd2 {
    font-family: 'TradeGothic-CondEighteen',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6.0rem;
    line-height: 1.2;
    color: #fff;
    font-weight: normal;
}
@media screen and (max-width: 1300px){
  .welcomehd2 {
      margin: 20px 0;
      font-size: 5.0rem;
  }
}
@media screen and (max-width: 767px){
  .banner_slider .innerSlide img {
      width: 100px;
  }
  .welcomehd2 {
      font-size: 4.0rem;
  }
}
@media screen and (max-width: 600px){
  .bannerWrapper {
    height: 322px;
    overflow: hidden;
  }
  .welcomehd2 {
      font-size: 3.0rem;
  }
  .bannerWrapper>img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width: auto;
    max-width: none;
  }
}
/*= End of Banner 2 ==============>>>>>*/

/*=============================================>>>>>
 = Banner 3 =
===============================================>>>>>*/

.wpb_bannerWrapper-3{
  position: relative;
  background: url(../img/wpb_bannerimg-3.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 340px 0 274px;
}
.wpb_innerSection-3{
  position: static;
}
.wpb_innerSection-3 h1{
  margin: 0 0 34px 0;
  font: 700 72px 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.09em;
}
.wpb_slidePara-3{
  font: 300 18px 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 2;
  color: #fff;
  letter-spacing: .1em;
  margin: 0 0 49px 0;
}
.wpb_redbtn-3{
  background: #bd202e;
  font: 500 14px 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 26px;
  padding: 17px 39px;
  border:0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 3px;
  color: #fff;
}
.wpb_redbtn-3:hover, .wpb_redbtn-3:focus {
    opacity: 0.9;
    color: #fff;
    outline: none;
}
.wpb_playbtn-3{
  font: 500 14px 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 30px;
  padding: 13px 17px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  border-radius: 3px;
  color: #fff;
  margin-left: 30px;
}
.wpb_playbtn-3:hover,.wpb_playbtn-3:focus{
  background: #fff;
  color: #111;
  outline: none;
}
.wpb_playbtn-3 .fa{
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
}
@media screen and (max-width: 1219px){
  .wpb_bannerWrapper-3 {
    padding: 200px 0;
  }
}
@media screen and (max-width: 991px){
  .wpb_bannerWrapper-3 {
    padding: 100px 0;
  }
  .wpb_bannerWrapper-3 h1 {
    font-size: 40px;
  }
  .wpb_slidePara-3 {
      font-size: 15px;
  }
}
@media screen and (max-width: 767px){
  .wpb_bannerWrapper-3 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .wpb_slidePara-3 {
      font-size: 19px;
      line-height: 1.4;
      margin-bottom: 30px;
  }
  .wpb_redbtn-3, .wpb_playbtn-3 {
      padding: 10px;
      margin: 0 0 10px 0;
  }
}


/*= End of Banner 3 ==============>>>>>*/

/*=============================================>>>>>
 = Banner 4 =
===============================================>>>>>*/
.wpb_banner-section-4 {
    position: relative;
}
.wpb_banner-section-4 > img {
    display: block;
    width: 100%;
    height: auto;
}
.wpb_banner-section-4:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(74, 136, 195, 0.84);
    content: "";
}
.wpb_banner-txt-section-4 {
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    width: 652px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wpb_banner-txt-section-4 h1 {
    margin: 0;
    color: #fff;
    font-size: 6.0rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}
.wpb_banner-txt-section-4 p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
@media screen and (max-width: 1024px) {
    .wpb_banner-txt-section-4 h1{
      font-size: 4rem;
    }
    .wpb_banner-txt-section-4{
      max-width: 100%;
      padding: 0 20px;
    }
}
@media screen and (max-width: 768px) {
    .wpb_banner-section-4{
      min-height: 320px;
      position: relative;
      overflow: hidden;
    }
    .wpb_banner-section-4 img{
      min-height: 320px;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform:translate(-50%, -50%);
      transform:translate(-50%, -50%);
      height: auto;

    }
}


/*= End of Banner 4 ==============>>>>>*/