<ul>
        <li><a href="../animated-banner/index.html">Animated Banner</a></li>
        <li><a href="../animations/animations.html">Animations</a></li>
        <li><a href="../banners/banners.html">Banner</a></li>
        <li><a href="../checkboxes/checkboxes.html">Checkboxes</a></li>
        <li><a href="../footer/footer.html">Footer</a></li>
        <li><a href="../hamburger/hamburger.html">Hamburger</a></li>
        <li><a href="../header/header.html">Header</a></li>
        <li><a href="../headers/headers.html">Headers</a></li>
        <li><a href="../popups/index.html">Popups</a></li>
        <li><a href="../popups/dialog.html">Popups2</a></li>
        <li><a href="../radioboxes/radioboxes.html">Radioboxes</a></li>
        <li><a href="../selectboxes/selectboxes.html">Select Boxes</a></li>
        <li><a href="../sliders/index.html">Sliders</a></li>
        <li><a href="../switches/switches.html">Switches</a></li>
        <li><a href="../switches-toggle/switches-toggle.html">Switches Toggle</a></li>
        <li><a href="../thumbnails/thumbnails.html">Thumbnails</a></li>
        <li><a href="../top-bar/top-bar.html">Top Bar</a></li>
    </ul>