/* ==========================================================================
   Code for select option
   ========================================================================== */
   .selectbox {
    margin-bottom: 10px;
  }

  /**
   * Selectbox style 1
   */
  .selectbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 40px 0 13px;
    border: none;
  }

  .selectbox::-ms-expand {
    display: none;
  }

  .selectbox1 {
    width: 350px;
    height: 35px;
    background: #47c8e8 url(../img/arrow.png) no-repeat right center;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    border: 1px solid #fff;
  }

  .selectbox1 option {
    color: #47c8e8;
    background: #e9ebf0;
  }

  /**
   * Selectbox style 2
   */
  .selectbox2 {
    width: 350px;
    height: 35px;
    background: #47c8e8 url(../img/arrow.png) no-repeat right center;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    border: 1px solid #fff;
    max-width: 100%;
  }

  .selectbox2 option {
    color: #47c8e8;
    background: #e9ebf0;
  }

  .select {
    width: 350px;
    position: relative;
  }

  .styledSelect {
    width: 350px;
    height: 35px;
    background: #47c8e8 url(../img/arrow.png) no-repeat right center;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    line-height: 33px;
    border: 1px solid #fff;
    max-width: 100%;
    padding: 0 40px 0 13px;
  }

  .select select.s-hidden {
    display: none;
  }

  .options {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #e9ebf0;
    border: 1px solid #fff;
    position: absolute;
    width: 100%;
    top: 34px;
    z-index: 100;
    display: none;
  }

  .options li {
    width: 350px;
    height: 35px;
    color: #47c8e8;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    line-height: 33px;
    border-bottom: 1px solid #fff;
    max-width: 100%;
    padding: 0 40px 0 13px;
    cursor: pointer;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .options li:hover {
    background: #47c8e8;
    color: #fff;
  }

  .options li:last-child {
    border-bottom: 0;
  }

  /**
   * Selectbox style 3
   */
  .selectbox3 {
    width: 350px;
    height: 35px;
    background: #47c8e8 url(../img/arrow.png) no-repeat right center;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    border: 1px solid #fff;
  }

  .selectbox3 option {
    color: #47c8e8;
    background: #e9ebf0;
  }

  .styledSelect3 {
    background: none;
  }

