label[for*="cbox"] {
    margin-bottom: 5px;
    display: inline-block;
  }
  
  /* ==========================================================================
     Checkbox style
     ========================================================================== */
  /* Checkbox style 1 */
  .checkstyle1 {
    display: none;
  }
  
  .checkstyle1 + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .checkstyle1 + label:after {
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    border: 1px solid #47c8e8;
  }
  
  .checkstyle1:checked + label:after {
    border: 1px solid #fff;
    background: #47c8e8;
    box-shadow: 0 0 0 1px #47c8e8;
  }
  
  /* End of Checkbox style 1 */
  /* Checkbox style 2 */
  .checkstyle2 {
    display: none;
  }
  
  .checkstyle2 + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .checkstyle2 + label:after {
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    border: 1px solid #47c8e8;
  }
  
  .checkstyle2:checked + label:after {
    background: #47c8e8;
  }
  
  .checkstyle2:checked + label:before {
    content: "";
    line-height: 13px;
    width: 12px;
    height: 7px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    position: absolute;
    top: 4px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  /* End of Checkbox style 2 */
  /* Checkbox style 3 */
  .checkstyle3 {
    display: none;
  }
  
  .checkstyle3 + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .checkstyle3 + label:after {
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    border: 1px solid #47c8e8;
  }
  
  .checkstyle3:checked + label:after {
    background: #ffffff;
  }
  
  .checkstyle3:checked + label:before {
    content: "";
    line-height: 13px;
    width: 12px;
    height: 7px;
    border-bottom: 2px solid #47c8e8;
    border-left: 2px solid #47c8e8;
    position: absolute;
    top: 4px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  /* End of Checkbox style 3 */