.element_heading h2{
    margin: 0;  
    font-size: 32px;
    padding: 15px;
    text-align: center;  
}
.wpb_container:after{
    clear: both;
    display: block;
    content: '';
}
hr{
    max-width: 1160px;    
    margin: 40px auto;
    border: 0;
    border-bottom: 1px dashed  #ccc;
}
        /*  Footer 1    */

.wpb_footer-1{
    background-color: #122748;
    padding-top: 100px;
    padding-bottom: 30px;
}
.wpb_footer-1 .wpb_container{
    max-width: 1160px;
}

.wpb_footer-1 p{
    margin: 0;
    color: #758db0;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
}
.wpb_footer-1 ul{
    padding-left: 0;
}
.wpb_footer-1 ul li{
    margin: 10px 0;
}
.wpb_footer-1 ul a{
    color: #758db0;
    text-decoration: none;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.wpb_footer-1 ul a:hover{
    color: #fff;
}
.wpb_footer-1 h4{
    font: bold 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0 0 30px 0;
    text-transform: uppercase;    
}
.wpb_footer-1 .wpb_footer_about{
    float: left;
    width: 40%;
}
.wpb_footer-1 .wpb_footer_about p{
    margin-bottom: 35px;
}
.wpb_footer-1 .wpb_footer_links{
    float: right;
}
.wpb_footer-1 .wpb_footer_sec{
    float: left;
    padding-left: 80px;
}
.wpb_footer-1 .wpb_socials li {
    display: inline-block;
    margin: 0 30px;
}
.wpb_footer-1 .wpb_socials li:first-child{
    margin-left: 0;
}
.wpb_footer-1 .wpb_socials a{
    font-family: FontAwesome;
    font-size: 14px;
}

.wpb_footer-1 .wpb_copyright{
    padding-top: 100px;
}
.wpb_footer-1 .wpb_copyright ul{
    float: left;
}
.wpb_footer-1 .wpb_copyright ul li{
    display: inline-block;
    margin: 0 25px;
}
.wpb_footer-1 .wpb_copyright ul li:first-child{
    margin-left: 0;
}
.wpb_footer-1 .wpb_copyright ul a, .wpb_footer-1 .wpb_copyright  p{
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;    
}
.wpb_footer-1 .wpb_copyright p {
    float: right;
    line-height: 1;
    padding-top: 4px;
}

@media screen and (max-width: 991px) {
    .wpb_footer-1 .wpb_copyright ul li{
        margin: 0 15px;
    }
    .wpb_footer-1 .wpb_footer_sec{
        padding-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .wpb_footer-1{
        padding-top: 50px;
    }
    .wpb_footer-1 .wpb_footer_about{
        width: 100%;
        margin-bottom: 40px;
        float: none;
    }
    .wpb_footer-1 .wpb_footer_links{
        float: none;
    }
    .wpb_footer-1 .wpb_footer_sec{
            width: 33%;
        margin-bottom: 15px;
        padding-left: 0;
    }    
    .wpb_footer-1 .wpb_copyright{
        padding-top: 10px;
    }    
    .wpb_footer-1 .wpb_copyright ul{
        margin-bottom: 20px;
    }
    .wpb_footer-1 .wpb_copyright ul,
    .wpb_footer-1 .wpb_copyright p{
            float: none;
        }
    .wpb_footer-1 .wpb_copyright ul li{
        margin: 0 5px;
    }
    
}

@media screen and (max-width: 479px) {
    .wpb_footer-1 .wpb_footer_sec{
        width: 100%;
    }    
    .wpb_footer-1 .wpb_footer_sec h4{
        margin-bottom: 10px;
    }
}


        /*  Footer 2  */


.wpb_footer-2{
    background-color: #122748;
    padding-top: 100px;
    padding-bottom: 90px;
}
.wpb_footer-2 .wpb_container{
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.wpb_container:after{
    clear: both;
    display: block;
    content: '';
}
.wpb_footer-2 p{
    margin: 0;
    color: #758db0;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
}
.wpb_footer-2 ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.wpb_footer-2 ul li{
    margin: 10px 0;
}
.wpb_footer-2 ul a{
    color: #758db0;
    text-decoration: none;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.wpb_footer-2 ul a:hover{
    color: #fff;
}

.wpb_footer-2 h4{
    font: bold 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0 0 30px 0;
    text-transform: uppercase;    
}
.wpb_footer-2 .wpb_footer_form{
    float: left;
    width: 20%;
}
.wpb_footer-2 .wpb_footer_form h4{
    margin-bottom: 5px;
}
.wpb_footer-2 .wpb_footer_form p{
    margin-bottom: 35px;
}
.wpb_footer-2 .wpb_footer_form input{
    height: 35px;
    border: 1px solid #1b355e;
    background-color: transparent;
    display: block;
    padding: 0 10px;
    margin-bottom: 15px;
    color: #647b9c;
    outline: 0;
    width: 100%;
    border-radius: 2px;
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.wpb_footer-2 .wpb_footer_form input::-webkit-input-placeholder {
    color: #647b9c;
}
.wpb_footer-2 .wpb_footer_form input[type=submit]{
    background-color: rgb(255, 80, 99);
    width: 100px;
    height: 30px;
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.wpb_footer-2 .wpb_footer_links{
    float: left;
    width: 80%;
    padding-left: 15%;
}
.wpb_footer-2 .wpb_footer_sec{
    float: left;
    width: 25%;
}
.wpb_footer-2 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 2px;
}
.wpb_footer-2 .wpb_socials a{
    padding-left: 30px;
    position: relative;
}

@media screen and (max-width: 991px) {
    .wpb_footer-2 .wbp_copyright ul li{
        margin: 0 15px;
    }
    
}

@media screen and (max-width: 767px) {
    .wpb_footer-2{
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .wpb_footer-2 .wpb_footer_links,
    .wpb_footer-2 .wpb_footer_form{
        width: 100%;
        padding: 0;
    }
    .wpb_footer-2 .wpb_footer_form{
        margin-bottom: 40px;
    }
    .wpb_footer-2 .wpb_footer_sec{
        margin-bottom: 15px;
    }    
}

@media screen and (max-width: 479px) {
    .wpb_footer-2 .wpb_footer_sec{
        width: 100%;
    }    
    .wpb_footer-2 .wpb_footer_sec h4{
        margin-bottom: 10px;
    }
}


        /*  Footer 3  */


.wpb_footer-3{
    background-color: #122748;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wpb_footer-3 .wpb_container{
    max-width: 1160px;
}
.wpb_footer-3 ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
    float: left;
}
.wpb_footer-3 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}
.wpb_footer-3 ul li:first-child{
    margin-left: 0;
}
.wpb_footer-3 ul a{
    color: #758db0;
    text-decoration: none;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;    
    -webkit-transition: all 0.4s;    
    -o-transition: all 0.4s;    
    transition: all 0.4s;
}
.wpb_footer-3 ul a:hover{
    color: #fff;
}
.wpb_footer-3 .wpb_socials{
    float: right;
}
.wpb_footer-3 .wpb_socials li{
    margin: 0 30px;
}
.wpb_footer-3 .wpb_socials li:last-child{
    margin-right: 0;
}

.wpb_footer-3 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .wpb_footer-3 ul li{
        margin: 0 10px;
    }
    .wpb_footer-3 .wpb_socials li{
        margin: 0 15px;
    }
    
}

@media screen and (max-width: 767px) {
    .wpb_footer-3{
        padding-top: 20px;
        padding-bottom: 10px;
    } 
    .wpb_footer-3 ul{
        margin-bottom: 20px;
    }
    .wpb_footer-3 .wpb_socials{
        float: none;
    }
    .wpb_footer-3 ul,
    .wpb_footer-3 p{
            float: none;
    }
    .wpb_footer-3 ul li{
        margin: 0 5px;
    }
    
}


        /*  Footer 4  */


.wpb_footer-4{
    background-color: #122748;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wpb_footer-4 .wpb_container{
    max-width: 1160px;
}
.wpb_footer-4 .wpb_footer_head:after {
    content: '';
    display: block;
    clear: both;
}
.wpb_footer-4 .wpb_footer_head{
    padding: 50px 0 80px;
}
.wpb_footer-4 #googlemap{
    height: 0;
    width: 100%;
    padding-bottom: 40%;
}
.wpb_footer-4 ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
    float: left;
}
.wpb_footer-4 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}
.wpb_footer-4 a,
.wpb_footer-4 p{
    color: #758db0;
    text-decoration: none;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
}
.wpb_footer-4 ul li:first-child{
    margin-left: 0;
}
.wpb_footer-4 ul a{
    color: #758db0;
    text-decoration: none;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;    
    -webkit-transition: all 0.4s;    
    -o-transition: all 0.4s;    
    transition: all 0.4s;
}
.wpb_footer-4 ul a:hover{
    color: #fff;
}
.wpb_footer-4 .info_text{
    float: left;
    width: 40%;
}
.wpb_footer-4 .info_text h4{
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.wpb_footer-4 .info_text p{
    color: #758db0;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1;
}
.wpb_footer-4 .wpb_footer_links{
    float: left;
    width: 60%;
    padding-left: 10%;
}
.wpb_footer-4 .wpb_footer_sec{
    float: left;
    width: 33%;
}
.wpb_footer-4 .wpb_footer_sec h4{
    font: bold 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #758db0;
    text-transform: uppercase;
}
.wpb_footer-4 .wpb_footer_sec a,
.wpb_footer-4 .wpb_footer_sec p{
    color: #fff;
    opacity: 0.6;
}
.wpb_footer-4 .wpb_copyright{
    padding-top: 35px ;
}
.wpb_footer-4 .wpb_socials{
    float: right;
}
.wpb_footer-4 .wpb_socials li{
    margin: 0 30px;
}
.wpb_footer-4 .wpb_socials li:last-child{
    margin-right: 0;
}

.wpb_footer-4 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .wpb_footer-4 ul li{
        margin: 0 10px;
    }
    .wpb_footer-4 .wpb_socials li{
        margin: 0 15px;
    }   
    .wpb_footer-4{
        padding-top: 15px;
    }
    .wpb_footer-4 .wpb_footer_head{
        padding: 10px 0 30px;
    }    
}

@media screen and (max-width: 767px) {
    .wpb_footer-4 .wpb_footer_links,
    .wpb_footer-4 .info_text{
        width: 100%;
        padding: 0;
    }
    .wpb_footer-4 .info_text{
        margin-bottom: 10px;
        width: 100%;
    }
    .wpb_footer-4 .wpb_footer_sec{
        margin-bottom: 15px;
    }    
    .wpb_footer-4{
        padding-top: 10px;
    }    
    .wpb_footer-4 ul{
        margin-bottom: 20px;
    }
    .wpb_footer-4 ul,
    .wpb_footer-4 .wpb_socials{
            float: none;
    }
    .wpb_footer-4 ul li{
        margin: 0 5px;
    }
    
}

@media screen and (max-width: 479px) {
    .wpb_footer-4 .wpb_footer_sec{
        width: 100%;
    }    
    .wpb_footer-4 .wpb_footer_sec h4{
        margin-bottom: 5px;
    }
}

    /*  footer 5    */

.wpb_footer-5 {
    background-color: #122748;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wpb_footer-5 .wpb_container{
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.wpb_footer-5  .wpb_container:after,
.wpb_footer-5 .wpb_footer_head:after {
    content: '';
    display: block;
    clear: both;
}
.wpb_footer-5 .wpb_footer_head{
    padding: 50px 0 80px;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}
.wpb_footer-5 ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
    float: left;
}
.wpb_footer-5 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}
.wpb_footer-5 a,
.wpb_footer-5 p{
    color: #758db0;
    text-decoration: none;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
}
.wpb_footer-5 ul li:first-child{
    margin-left: 0;
}
.wpb_footer-5 ul a{
    color: #758db0;
    text-decoration: none;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;    
    -webkit-transition: all 0.4s;    
    -o-transition: all 0.4s;    
    transition: all 0.4s;
}
.wpb_footer-5 ul a:hover{
    color: #fff;
}
.wpb_footer-5 .wpb_info_text{
    margin-bottom: 30px;
}
.wpb_footer-5 .wpb_info_text h4{
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;

}
.wpb_footer-5 .wpb_info_text p{
    color: #758db0;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1;
}
.wpb_footer-5 .wpb_footer_sec{
    float: left;
    width: 33%;
    padding: 5px;
}
.wpb_footer-5 .wpb_footer_sec h4{
    font: bold 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #758db0;
    text-transform: uppercase;
}
.wpb_footer-5 .wpb_footer_sec a,
.wpb_footer-5 .wpb_footer_sec p{
    color: #fff;
    opacity: 0.6;
}
.wpb_footer-5 .wpb_copyright{
    border-top: 1px solid  #102341;
    padding-top: 35px ;
}
.wpb_footer-5 .wpb_socials{
    float: right;
}
.wpb_footer-5 .wpb_socials li{
    margin: 0 30px;
}
.wpb_footer-5 .wpb_socials li:last-child{
    margin-right: 0;
}

.wpb_footer-5 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .wpb_footer-5 .wpb_socials li{
        margin: 0 15px;
    }
    .wpb_footer-5 ul li{
        margin: 0 15px;
    }
    .wpb_footer-5{
        padding-top: 15px;
    }
    .wpb_footer-5 .wpb_footer_head{
        padding: 10px 0 30px;
    }    
}

@media screen and (max-width: 767px) {
    .wpb_footer-5 .wpb_footer_links,
    .wpb_footer-5 .wpb_info_text{
        width: 100%;
        padding: 0;
    }
    .wpb_footer-5 .wpb_info_text{
        margin-bottom: 10px;
        width: 100%;
    }
    .wpb_footer-5 .wpb_footer_sec{
        margin-bottom: 15px;
    }    
    .wpb_footer-5{
        padding-top: 10px;
    }    
    .wpb_footer-5 ul{
        margin-bottom: 20px;
    }
    .wpb_footer-5 ul,
    .wpb_footer-5 .wpb_socials{
            float: none;
            text-align: center;
    }
    .wpb_footer-5 ul li{
        margin: 0 5px;
    }
    .wpb_footer-5{
        padding-bottom: 1px;
    }
    .wpb_footer-5 .wpb_copyright{
        padding-top: 15px ;
    }
    .wpb_footer-5 .wpb_footer_head{
        padding-bottom: 10px;
    }  
    
}

@media screen and (max-width: 479px) { 
    .wpb_footer-5 .wpb_footer_sec{
        width: 100%;
    }    
    .wpb_footer-5 .wpb_footer_sec h4{
        margin-bottom: 5px;
    }
}

/*   Footer 6   */

.wpb_footer-6{
    background-color: #122748;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.wpb_footer-6 .wpb_footer_content{
    max-width: 640px;
    margin: 0 auto;
    padding: 0 15px;
}
.wpb_footer-6 .wpb_footer_content h3{
    font: bold 30px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 55px;
}
.wpb_footer-6 .wpb_footer_content p{
    font: normal 13px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #758db0;    
    margin-bottom: 55px;
}
.wpb_footer-6 ul{
    margin: 0 ;
    padding-left: 0;
    list-style: none;
}
.wpb_footer-6 ul a{
    color: #768db0;
    text-decoration: none;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;    
    -webkit-transition: all 0.4s;    
    -o-transition: all 0.4s;    
    transition: all 0.4s;
}
.wpb_footer-6 ul a:hover{
    color: #fff;
}
.wpb_footer-6 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}
.wpb_footer-6 .wpb_socials li{
    margin: 0 30px;
}
.wpb_footer-6 .wpb_socials li:first-child{
    margin-left: 0;
}
.wpb_footer-6 .wpb_socials li:last-child{
    margin-right: 0;
}

.wpb_footer-6 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .wpb_footer-6{
        padding-top: 20px;
        padding-bottom: 20px;
    }   
}

@media screen and (max-width: 767px) {
    .wpb_footer-6 ul{
        margin-bottom: 20px;
    }
    .wpb_footer-6 ul li{
        margin: 0 10px;
    }
    .wpb_footer-6 .wpb_socials li{
        margin: 0 15px;
    }
    .wpb_footer-6 .wpb_footer_content h3,
    .wpb_footer-6 .wpb_footer_content p{
        margin-bottom: 25px;
    }
    
}

/*   Footer 7   */

.wpb_footer-7{
    background-color: #122748;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.wpb_footer-7 .wpb_footer_form{
    max-width: 640px;
    margin: 0 auto;
    padding: 0 15px;
}
.wpb_footer-7 .wpb_footer_form form{
    margin-bottom: 55px;
}
.wpb_footer-7 .wpb_footer_form form span{
    font: bold 12px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #758db1;    
    margin-right: 10px;
    letter-spacing: 0.2em
}
.wpb_footer-7 .wpb_footer_form input{
    height: 35px;
    border: 1px solid #1b355e;
    background-color: transparent;
    padding: 0 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #647b9c;
    outline: 0;
    width: 100%;
    max-width: 230px;
    border-radius: 2px;
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
}
.wpb_footer-7 .wpb_footer_form input::-webkit-input-placeholder {
    color: #647b9c;
}
.wpb_footer-7 .wpb_footer_form input[type=submit]{
    background-color: rgb(255, 80, 99);
    width: 60px;
    height: 37px;
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.wpb_footer-7 ul{
    margin: 0 ;
    padding-left: 0;
    list-style: none;
}
.wpb_footer-7 ul a{
    color: #758db1;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 0.2em;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.wpb_footer-7 ul a:hover{
    color: #fff;
}
.wpb_footer-7 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}
.wpb_footer-7 .wpb_socials{
    margin-bottom: 55px;
}
.wpb_footer-7 .wpb_socials li{
    margin: 0 30px;
}
.wpb_footer-7 .wpb_socials li:last-child{
    margin-right: 0;
}

.wpb_footer-7 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
    color: #758db1;
}

@media screen and (max-width: 991px) {
    .wpb_footer-7{
        padding-top: 20px;
        padding-bottom: 20px;
    }   
}

@media screen and (max-width: 767px) {
    .wpb_footer-7{
        padding-bottom: 1px;
    }
    .wpb_footer-7 ul{
        margin-bottom: 20px;
    }
    .wpb_footer-7 ul li,
    .wpb_footer-7 .wpb_socials li{
        margin: 0 10px;
    }
    
}
@media screen and (max-width: 479px) {
    .wpb_footer-7 .wpb_footer_form form{
        text-align: center;
        margin-bottom: 30px;
    }
    .wpb_footer-7 .wpb_footer_form form span{
        display: block;
        margin-bottom: 20px;
    } 
    .wpb_footer-7 .wpb_footer_form input,
    .wpb_footer-7 .wpb_footer_form input[type=submit]{
        width: 100%;
        max-width: 100%;
    }
}

/*   Footer 8   */

.wpb_footer-8{
    background-color: #122748;
    padding-bottom: 100px;
    text-align: center;
}
.wpb_footer-8 .wpb_footer_head{
    padding: 50px 10px; 
    border-bottom: 1px solid #0e1f3a;
}
.wpb_footer-8 .wpb_footer_form{
    max-width: 830px;
    margin: 0 auto;
    padding-top: 50px;
}
.wpb_footer-8 .wpb_footer_form h3{
    color: #fff;
    font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;    
    letter-spacing: 0.4em;
    line-height: 2;
    text-transform: uppercase;
    margin: 0;
}
.wpb_footer-8 .wpb_footer_form p{
    color: #758db0;
    font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;    
    margin: 0 0 50px 0;
}
.wpb_footer-8 .wpb_newsletter{
    padding: 0 15px;
}
.wpb_footer-8 .wpb_newsletter input{
    height: 35px;
    border: 1px solid #1b355e;
    background-color: transparent;
    padding: 0 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #647b9c;
    outline: 0;
    width: 100%;
    max-width: 190px;
    border-radius: 2px;
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.wpb_footer-8 .wpb_newsletter input::-webkit-input-placeholder {
    color: #647b9c;
}
.wpb_footer-8 .wpb_newsletter input[type=email]{
    max-width: 375px;
}
.wpb_footer-8 .wpb_newsletter input[type=submit]{
    background-color: rgb(255, 80, 99);
    width: 125px;
    height: 37px;
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.wpb_footer-8 ul{
    margin: 0 ;
    padding-left: 0;
    list-style: none;
}
.wpb_footer-8 ul a{
    color: #758db1;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.wpb_footer-8 ul a:hover{
    color: #fff;
}
.wpb_footer-8 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}

@media screen and (max-width: 991px) {
    .wpb_footer-8 .wpb_newsletter input[type=email]{
        max-width: 190px;
    }   
}

@media screen and (max-width: 767px) {
    .wpb_footer-8 .wpb_footer_head{
        padding: 20px 10px;
    }
    .wpb_footer-8 .wpb_footer_form{
        padding-top: 20px;
    }
    .wpb_footer-8{
        padding-bottom: 30px;
    }
    .wpb_footer-8 .wpb_newsletter input,
    .wpb_footer-8 .wpb_newsletter input[type=email]{
        display: block;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .wpb_footer-8 .wpb_newsletter input[type=submit]{
        display: inline;
    }
    .wpb_footer-8 ul li{
        margin: 0 10px;
    }
    
}

/*   Footer 9   */

.wpb_footer-9{
    background-color: #122748;
    padding-bottom: 100px;
}
.wpb_footer-9 .wpb_footer_head{
    padding: 50px 10px; 
    border-bottom: 1px solid #0e1f3a;
    text-align: center;
}
.wpb_footer-9 .wpb_footer_left{
    width: 50%;
    float: left;
    padding-right: 100px;
    padding-top: 50px;
}
.wpb_footer-9 .wpb_footer_right{
    float: right;
    padding-top: 80px;
}
.wpb_footer-9 .wpb_footer_left h4{
    color: #fff;
    font: normal 14px 'Open Sans', Arial, Helvetica, sans-serif;    
    letter-spacing: 0.4em;
    line-height: 2;
    text-transform: uppercase;
    margin: 0;
}
.wpb_footer-9 .wpb_footer_left p{
    color: #758db0;
    font: normal 13px 'Open Sans', Arial, Helvetica, sans-serif;    
    margin: 0 0 50px 0;
}

.wpb_footer-9 ul{
    margin: 0 ;
    padding-left: 0;
    list-style: none;
}
.wpb_footer-9 ul a{
    color: #758db1;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.wpb_footer-9 ul a:hover{
    color: #fff;
}
.wpb_footer-9 ul li{
    margin: 10px 0;
    display: inline-block;
    margin: 0 15px;
}
.wpb_footer-9 .wpb_socials li{
    margin: 0 30px;
}
.wpb_footer-9 .wpb_socials li:first-child{
    margin-left: 0;
}
.wpb_footer-9 .wpb_socials li:last-child{
    margin-right: 0;
}

.wpb_footer-9 .wpb_socials a:before{
    font-family: FontAwesome;
    font-size: 14px;
    color: #758db1;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .wpb_footer-9{
        padding-bottom: 30px;
        text-align: center;
    }
    .wpb_footer-9 .wpb_footer_head{
        padding: 20px 10px;
    }
    .wpb_footer-9 .wpb_footer_left{
        padding-top: 20px;
        padding-right: 0;
        float: none;
        width: 100%;
    }
    .wpb_footer-9 .wpb_footer_right{
        padding-top: 0px;
        float: none;
        width: 100%;
    }
    .wpb_footer-9 ul li{
        margin: 0 5px;
    }
    .wpb_footer-9 .wpb_socials li{
        margin: 0 10px;
    }
    
}

/*   Footer 10   */

.wpb_footer-10{
    background-color: #122748;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wpb_footer_logo{
    float: left;
    width: 20%;
    text-align: center;
}
.wpb_footer-10 ul{
    width: 40%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    float: left;
}
.wpb_footer-10 .wpb_footer_logo + ul{
    text-align: right;
}
.wpb_footer-10 ul li{
    display: inline-block;
    margin: 0 15px;
    padding-top: 5px;
}
.wpb_footer-10 ul li:first-child{
    margin-left: 0;
}
.wpb_footer-10 ul li:last-child{
    margin-right: 0;
}
.wpb_footer-10 ul a{
    color: #758db0;
    text-decoration: none;
    font: bold 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;    
    -webkit-transition: all 0.4s;    
    -o-transition: all 0.4s;    
    transition: all 0.4s;
}
.wpb_footer-10 ul a:hover{
    color: #fff;
}

@media screen and (max-width: 991px) {
    .wpb_footer-10 ul li{
        margin: 0 15px;
    }
    
}

@media screen and (max-width: 767px) {
    .wpb_footer-10{
        padding-top: 10px;
    }
    .wpb_footer-10 ul li{
        margin: 0 10px;
    }
    .wpb_footer-10 ul,
    .wpb_footer-10 .wpb_footer_logo{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }    
}

@media screen and (max-width: 479px) {
    .wpb_footer-10 .wpb_footer_sec{
        width: 100%;
    }    
    .wpb_footer-10 .wpb_footer_sec h4{
        margin-bottom: 10px;
    }
}