/* ==========================================================================
   Radiobox style
   ========================================================================== */
   label[for*="rbox"] {
    margin-bottom: 5px;
    display: inline-block;
  }
/* Radiobox style 1 */
.radiostyle1 {
    display: none;
  }
  
  .radiostyle1 + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .radiostyle1 + label:after {
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    border: 1px solid #47c8e8;
    border-radius: 50%;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .radiostyle1:checked + label:after {
    border: 2px solid #fff;
    background: #47c8e8;
    box-shadow: 0 0 0 1px #47c8e8;
  }
  
  /* End of Radiobox style 1 */
  /* Radiobox style 2 */
  .radiostyle2 {
    display: none;
  }
  
  .radiostyle2 + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .radiostyle2 + label:after {
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: all  0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .radiostyle2 + label:after {
    border: 2px solid #fff;
    background: #47c8e8;
    box-shadow: 0 0 0 1px transparent;
  }
  
  .radiostyle2:checked + label:after {
    box-shadow: 0 0 0 1px #47c8e8;
  }
  
  /* End of Radiobox style 2 */
  /* Radiobox style 3 */
  .radiostyle3 {
    display: none;
  }
  
  .radiostyle3 + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .radiostyle3 + label:after {
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    border: 1px solid #47c8e8;
    border-radius: 50%;
  }
  
  .radiostyle3:checked + label:after {
    background: #47c8e8;
  }
  
  .radiostyle3:checked + label:before {
    content: "";
    line-height: 13px;
    width: 12px;
    height: 7px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    position: absolute;
    top: 4px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  /* End of Radiobox style 3 */