hr{
    max-width: 1200px;
    margin: 40px auto;
    border: 0;
    border-top: 1px dotted  #aaa;
}
.element_heading h2{
    margin: 0;  
    font-size: 24px;
    padding: 15px;
    text-align: center;  
}


.hamburger-menu{
    margin: 15px auto;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 4px;
    background: #212121;
    display: block;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
    -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
    -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
    transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}
.line ~ .line{
    margin-top: 4px;
}

.icon-E:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -8px;
    left: 0;
}
.icon-E:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #212121;
    content: "";
    bottom: -8px;
    left: 0;
}

.icon-X:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -8px;
    left: 0;
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(2px, 6px);
    transform: rotateZ(45deg) scaleX(1.25) translate(2px, 6px);
}
.icon-X:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #212121;
    content: "";
    bottom: -8px;
    left: 0;
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(3px, -6px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(3px, -6px);
}
.h-menu-7{
    width: 30px;
    height: 30px;
}
.left-lines{
    position: absolute;
    height: 4px;
    width: 15px;
    top: 15px;
    background-color: #212121;
    left: 0;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.left-lines:after{
    width: 100%;
    height: 4px;
    background-color: #212121;
    top: -10px;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.left-lines:before{
    width: 100%;
    height: 4px;
    background-color: #212121; 
    bottom: -10px;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.right-lines{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 15px;
    background-color: #212121;
    right: 0;
}
.right-lines:after{
    width: 100%;
    height: 4px;
    background-color: #212121;
    top: -10px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.right-lines:before{
    width: 100%;
    height: 4px;
    background-color: #212121; 
    bottom: -10px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.hamburger-menu.rounded .line{
    border-radius: 2px;
}

/**
 * Hambuger
 * @type {1st style}
 */
.hamburger-menu.x-st1 .line:first-child {
    -moz-transform: rotate(-135deg) translateY(-11px);
    -ms-transform: rotate(-135deg) translateY(-11px);
    -webkit-transform: rotate(-135deg) translateY(-11px);
    transform: rotate(-135deg) translateY(-11px);
}
.hamburger-menu.x-st1 .line:last-child {
    -moz-transform: rotate(135deg) translateY(11px);
    -ms-transform: rotate(135deg) translateY(11px);
    -webkit-transform: rotate(135deg) translateY(11px);
    transform: rotate(135deg) translateY(11px);
}
.hamburger-menu.x-st1 .line:nth-child(2) {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

/**
 * Hambuger
 * @type {2nd style}
 */
.hamburger-menu.x-st2 .line:first-child {
    -moz-transform: translateY(8px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(8px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(8px) translateX(1px) rotate(45deg);
    transform: translateY(8px) translateX(1px) rotate(45deg);
}
.hamburger-menu.x-st2 .line:last-child {
    -moz-transform: translateY(-8px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-8px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-8px) translateX(1px) rotate(-45deg);
    transform: translateY(-8px) translateX(1px) rotate(-45deg);
}
.hamburger-menu.x-st2 .line:nth-child(2) {
    opacity: 0;
}


/**
 * Hambuger
 * @type {3rd style}
 */
.hamburger-menu.x-st3 .line:first-child {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -6px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -6px);
}
.hamburger-menu.x-st3 .line:last-child {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 6px);
        transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 6px);
}


/**
 * Hambuger
 * @type {4th style}
 */
.hamburger-menu.x-st4 .line:first-child {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(10px, -6px);
    transform: rotateZ(45deg) scaleX(0.75) translate(10px, -6px);
}
.hamburger-menu.x-st4 .line:last-child {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 6px);
        transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 6px);
}


/**
 * Hambuger
 * @type {5th style}
 */
.hamburger-menu.x-st5 .line:first-child {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}
.hamburger-menu.x-st5 .line:last-child {
    -webkit-transform: translateY(-3px) rotate(90deg);
    -ms-transform: translateY(-3px) rotate(90deg);
    -o-transform: translateY(-3px) rotate(90deg);
    transform: translateY(-3px) rotate(90deg);
}
.hamburger-menu.x-st5 .line:first-child, .hamburger-menu.x-st5 .line:last-child{
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.hamburger-menu.x-st5 .line:nth-child(2) {
    width: 0px;
}
.hamburger-menu.x-st5 {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/**
 * Hambuger
 * @type {6th style}
 */
.hamburger-menu.x-st6 .line:first-child {
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(4.5px, 6.5px);
        transform: rotateZ(45deg) scaleX(1.25) translate(4.5px, 6.5px);
}
.hamburger-menu.x-st6 .line:last-child {
        -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(4px, -6px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(4px, -6px);
}
.hamburger-menu.x-st6 .line:nth-child(2) {
    opacity: 0;
}
.circle-menu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: -14px;
    left: -11px;
}


/**
 * Hambuger
 * @type {7th style}
 */


.hamburger-menu.x-st7 .left-lines {
    background: transparent;
}
.hamburger-menu.x-st7 .left-lines:after{
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}
.hamburger-menu.x-st7 .left-lines:before{
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}
.hamburger-menu.x-st7 .right-lines {
    background: transparent;
}
.hamburger-menu.x-st7 .right-lines:after{
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}
.hamburger-menu.x-st7 .right-lines:before{
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}


/**
 * Hambuger
 * @type {8th style}
 */

.hamburger-menu.h-menu-8{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.hamburger-menu.x-st8{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 14px 10px;
    transform-origin: 14px 10px;
}
.hamburger-menu.x-st8 .line:first-child {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -6px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -6px);
}
.hamburger-menu.x-st8 .line:last-child {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 6px);
    transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 6px);
}


/**
 * Hambuger
 * @type {9th style}
 */

.hamburger-menu.h-menu-9{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.hamburger-menu.x-st9{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 18px 10px;
    transform-origin: 18px 10px;
}
.hamburger-menu.x-st9 .line:first-child {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(10px, -6px);
    transform: rotateZ(45deg) scaleX(0.75) translate(10px, -6px);
}
.hamburger-menu.x-st9 .line:last-child {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 6px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 6px);
}


/**
 * Hambuger
 * @type {10th style}
 */

.hamburger-menu.h-menu-10{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.icon-E{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 100%;
    top: 8px;
    background-color: #212121;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.hamburger-menu.h-menu-10 .icon-E{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.hamburger-menu.x-st10 .icon-E{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.hamburger-menu .icon-X{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 100%;
    top: 11px;
    background-color: #212121;
    -webkit-transform-origin: 11px 0px;
    transform-origin: 11px 0px;
    left: 2px;
}
.hamburger-menu.h-menu-10 .icon-X{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.hamburger-menu.x-st10 .icon-X{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.hamburger-menu.x-st10 .icon-E {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.hamburger-menu.x-st10 .icon-X {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/**
 * Hambuger
 * @type {11th style}
 */

.hamburger-menu.h-menu-11{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.hamburger-menu.h-menu-11 .icon-E{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.hamburger-menu.x-st11 .icon-E{
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.hamburger-menu.h-menu-11 .icon-X{
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.hamburger-menu.x-st11 .icon-X{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.hamburger-menu.x-st11 .icon-E {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.hamburger-menu.x-st11 .icon-X {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}