.wpb_dialog,
.wpb_dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wpb_dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
	z-index: 99999;
}

.wpb_dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.wpb_dialog--open .wpb_dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.wpb_dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.wpb_dialog--open .wpb_dialog__content {
	pointer-events: auto;
}

/* Content */
.wpb_dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}
button {
	padding: 1em 2em;
	outline: none;
	font-weight: 600;
	border: none;
	color: #fff;
	background: #c94e50;
}
.wpb_button-wrap{
	text-align: center;
}


/*================================
=            Dialog 1            =
================================*/
.wpb_dialog-1.wpb_dialog--in .wpb_dialog__overlay{
	opacity: 1;
	pointer-events: auto;
}
.wpb_dialog--in .wpb_dialog__content {
    pointer-events: auto;
}
.wpb_dialog-1.wpb_dialog--in .wpb_dialog__content,
.wpb_dialog-1.wpb_dialog--out .wpb_dialog__content {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.wpb_dialog-1.wpb_dialog--in .wpb_dialog__content {
	-webkit-animation-name: anim-in;
	animation-name: anim-in;
}

.wpb_dialog-1.wpb_dialog--out .wpb_dialog__content {
	-webkit-animation-name: anim-out;
	animation-name: anim-out;
}

@-webkit-keyframes anim-in {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-in {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-out {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); }
}

@keyframes anim-out {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); transform: scale3d(0.9, 0.9, 1); }
}

/*=====  End of Dialog 1  ======*/

/*================================
=            Dialog 2            =
================================*/



/*=====  End of Dialog 2  ======*/

