.wpb_notice_top_bar{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	position: fixed;
	padding: 0 40px;
	top: 0;
	left: 0;
	background: #fff;
}
.wpb_countdown_wrapper{
	min-width: 125px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  background: #f42e2c;
  color: #fff;
}
.wpb_offer_text{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.wpb_offer_save_btn{
	display: inline-block;
	vertical-align: middle;
	background: #fcffa9;
	color: #333;
	font-size: 16px;
	text-decoration: none;
	padding: 8px 15px;
	margin: 0 0 0 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px dashed #aaa;
}
.wpb_close_notice_top_bar{
	color: #585858;
	display: block;
  font-size: 28px;
  line-height: 28px;
  font-weight: 100;
  text-decoration: none!important;
  font-family: Verdana,Arial,sans-serif!important;
  vertical-align: text-top;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -16px;
  cursor: pointer;
}
.wpb_countdown_section span{
	font-weight: bold;
	padding: 5px;
	display: inline-block;
}