/*==================================================
=            Code for Slider1 1            =
==================================================*/

.wpb_property-slider .wpb_item-1 {
  height: 730px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: .5;
}
.wpb_property-slider .wpb_item-1.portrait {
  background-color: #1c243d;
  background-size: auto 100%;
}
.wpb_property-slider .wpb_item-1.slick-active{
  opacity: 1;
}
.wpb_property-slider .owl-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 892px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wpb_property-slider .owl-controls .owl-buttons div, .wpb_property-slider .slick-arrow {
  overflow: hidden;
  width: 35px;
  height: 62px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  text-indent: 100%;
  display: block;
  border:0;
  padding: 0;
  z-index: 1001;
}
.wpb_property-slider .owl-controls .owl-buttons:after {
  display: table;
  clear: both;
  content: "";
}
.wpb_property-slider .owl-controls .owl-buttons div.owl-prev,.wpb_property-slider .slick-prev {
  float: left;
  background: url(../img/wpb_slider_left-arrow-1.png) no-repeat 0 0;
}
.wpb_property-slider .slick-prev {
  position: absolute;
  left: calc(50vw - 445px);
  top: 50%;
  /*left: 50%;*/
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
.wpb_property-slider .owl-controls .owl-buttons div.owl-next, .wpb_property-slider .slick-next {
  float: right;
  background: url(../img/wpb_slider_right-arrow-1.png) no-repeat 0 0;
}
.wpb_property-slider .slick-next{
  position: absolute;
  top: 50%;
  right: calc(50vw - 445px);
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
.wpb_property-slider .owl-pagination,.wpb_property-slider  .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.wpb_property-slider .owl-controls .owl-page,.wpb_property-slider .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 13px;
  border-radius: 50%;
  background: #e6e6e6;
  cursor: pointer;
}
.wpb_property-slider .owl-controls .owl-page button, .wpb_property-slider .slick-dots li button{
	display: none;
}
.wpb_property-slider .owl-controls .owl-page.active,.wpb_property-slider  .slick-dots li.slick-active {
    background: #ed471a;
}
@media screen and (max-width: 992px) {
  .wpb_property-slider .slick-next{
    display: none !important;
  }
  .wpb_property-slider .slick-prev{
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
    .wpb_property-slider .wpb_item-1{
      height: auto;
    }
  .wpb_property-slider .slick-slide img{
    width: 100%;
  }
}
  
/*=====  End of Code for Slider1 1  ======*/
/*=================================
=            Slider 2            =
=================================*/

/*Banner Slide Code Start Here*/
.wpb_banner_slider_2{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.flex-direction-nav li{
    position: static;
    padding:0;
}
.flex-direction-nav li a{
    width: 55px;
    background-color: #e0e1e1;
    height: 127px;
    display: block;
    font-size: 0;
    line-height: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -64px;
}
.wpb_flexslider_2:hover .flex-direction-nav .flex-next{
    right: 0;
}
.wpb_flexslider_2:hover .flex-direction-nav .flex-prev{
    left: 0;
}
.wpb_flexslider_2 .flex-direction-nav li a.flex-next{
    right: 0;
    opacity: 1;
    background:#e0e1e1 url(../img/wpb_right_black_arrow_icon-2.png) no-repeat center center;
}
.wpb_flexslider_2 .flex-direction-nav li a.flex-prev{
    left: 0;
    opacity: 1;
    background:#e0e1e1 url(../img/wpb_left_black_arrow_icon-2.png) no-repeat center center;
}
.wpb_flexslider_2 .slides > li> img{
  width: 100%;
  display: block;
}
.wpb_flexslider_2{
    margin-bottom: 20px;
    border:0;
}
.flex-direction-nav li{
    line-height: 0;
    height: 0;
}
.wpb_flexslider_2 .slides > li{
    position: relative;
}
.wpb_innerSlide-2{
    text-align: center;
    padding:50px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 12;
}
.bannerWrapper{
    position: relative;
}
.bannerWrapper>img{
    max-width: 100%;
    display: inline-block;
}
.wpb_banner_slider_2 .wpb_innerSlide-2 img{
    width: auto;
    max-width: 100%;
    display: inline-block;
}
.wpb_banner_slider_2 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.wpb_welcomehd2{
    font-family: 'TradeGothic-CondEighteen',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6.0rem;
    line-height: 1.2;
    color: #fff;
    font-weight: normal;
}
@media screen and (max-width: 1300px){
  .wpb_welcomehd2 {
      margin: 20px 0;
      font-size: 5.0rem;
  }
}
@media screen and (max-width: 767px){
  .wpb_welcomehd2 {
    font-size: 4.0rem;
  }
  .wpb_banner_slider_2 .wpb_innerSlide-2 img {
      width: 100px;
  }
}
@media screen and (max-width: 600px){
  .wpb_flexslider_2 .slides > li {
      height: 322px;
      overflow: hidden;
  }
  .wpb_flexslider_2 .slides > li>img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 479px){
  .wpb_welcomehd2 {
      font-size: 3rem;
  }
  .flex-direction-nav li a {
      width: 40px;
      height: 80px;
      margin-top: -40px;
  }
}
/*=====  End of Slider 2  ======*/
/*================================
=            Slider 3            =
================================*/
.wpb_slidewrapper_outer_3{
  background: #000;
}
.wpb_slidewrapper_3 .slick-track{
    padding: 25px 0;
}
.wpb_slidewrapper_3 .wpb_slidebox_3.slick-slide.slick-current.slick-active.slick-center {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 1001;
}
.wpb_slidewrapper_3 .wpb_slidebox_3.slick-slide.slick-current.slick-active.slick-center .wpb_slideTxt_3 p{
  text-align: center;
}
.wpb_slidewrapper_3 .wpb_slidebox_3.slick-slide.slick-current.slick-active.slick-center .slideTxt{
    text-align: center;
}
.wpb_slidewrapper_3 .slick-arrow{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    text-indent: 100%;
    overflow: hidden;
    display: block;
    white-space: normal;
    background-color: transparent;
    border:0;
    padding: 0;
    border-radius: 50%;
}
.wpb_slidewrapper_3 .slick-arrow:focus{
    outline: none;
}
.wpb_slidewrapper_3 .slick-prev{
    left: 0;
    background: url(../img/wpb_prevarrow_3.png) no-repeat 0 0;
}
.wpb_slidewrapper_3 .slick-next{
    right: 0;
    background: url(../img/wpb_nextarrow_3.png) no-repeat 0 0;
}
.wpb_slidewrapper_3 .slick-dots {
    text-align: center;
    padding: 0 0 20px;
}
.wpb_slidewrapper_3 .slick-dots li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.wpb_slidewrapper_3 .slick-dots li button{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    padding: 0;
    border:0;
    text-align: center;
}
.wpb_slidewrapper_3 .slick-dots li.slick-active button{
    background: #f8adc0;
}
.wpb_slidewrapper_3 .wpb_slideTxt_3 p {
    font: normal 15.3px 'book_antiquaregular', Arial, Helvetica, sans-serif;
    line-height: 17px;
    color: #fff;
    margin: 0;
}
.wpb_slidewrapper_3 .wpb_textHd_3 {
    display: block;
}
.wpb_slidewrapper_3 {
    margin-top: -51px;
    padding-left: 27px;
    padding-right: 27px;
}
.wpb_slidewrapper_3 img{
  width: 100%;
}
.wpb_slidebox_3 {
  position: relative;
}
.wpb_slidewrapper_3{
  width: 960px;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}
.wpb_slideTxt_3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 6px;
    background: rgba(0,0,0, .45);
}
.wpb_center_3{
  height: 320px;
  background: #fff;
}
.wpb_textSection2_3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 15px 10px;
}
/*=====  End of Slider 3  ======*/

/*================================
=            Slider 4            =
================================*/

.wpb_box_4 {
    background: #fff;
    border-bottom: 2px solid #cccccf;
    border-radius: 5px;
    padding: 14px 28px 5px;
    width: 310px;
    margin:0 auto 18px;
    text-align: center;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.11);
}
.wpb_box_4 h5 {
    font-size: 12px;
    color: #000e3c;
    opacity: .45;
    border-bottom: 1px solid #000e3c;
    margin: 0;
    padding-bottom: 12px;
    text-align: center;
}
.wpb_box_4 .wpb_numberSlide_4 .wpb_count_4 {
    font-size: 8rem;
    line-height: 1.1;
    color: #df4660;
    display: block;
    padding-top: 41px;
    padding-bottom: 10px;
}
.wpb_box_4 .wpb_efficient_4 {
    display: block;
    font-size: 2rem;
    color: #0033a0;
}
.wpb_box_4 .owl-controls {
    margin-top: 20px;
}
.wpb_box_4 .owl-page {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    border: 2px solid #f4f2ed;
    background: #0033a0;
    margin: 0 16px;
}
.wpb_box_4 .owl-page.active {
    background: none;
    border-color: #df4660;
}

/*=====  End of Slider 4  ======*/

/*================================
=            Slider 5            =
================================*/

.cd-gallery{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  padding: 120px 0;
}
.cd-item-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  padding: 0;
}
.wpb-arrow-right{
  position: absolute;
  top: 50%;
  right: 0px;
  width: 50px;
  height: 50px;
  background: url("../img/wpb_arrow-right-yellow_5.svg") no-repeat 0 0;
  opacity: 1;
  z-index: 999;
  cursor: pointer;
  transform: translateY(-100%);
}
.wpb-arrow-left{
  position: absolute;
  top: 50%;
  left: 9px;
  width: 50px;
  height: 50px;
  background: url("../img/wpb_arrow-left-yellow_5.svg") no-repeat 0 0;
  opacity: 1;
  z-index: 999;
  cursor: pointer;
  transform: translateY(-100%);
}
.cd-item-wrapper li {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
 list-style: none;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, opacity;
  -webkit-transform: translateX(200%) scale(0.55);
  -moz-transform: translateX(200%) scale(0.55);
  -ms-transform: translateX(200%) scale(0.55);
  -o-transform: translateX(200%) scale(0.55);
  transform: translateX(200%) scale(0.55);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.cd-item-wrapper li.selected {
  /* selected item */
  position: relative;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-item-wrapper li img{
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.cd-item-wrapper li.selected img{
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
  transform: scale(1.35);
}
.cd-item-wrapper li.move-left {
  /* item on left - preview visible */
  -webkit-transform: translateX(-100%) scale(0.55);
  -moz-transform: translateX(-100%) scale(0.55);
  -ms-transform: translateX(-100%) scale(0.55);
  -o-transform: translateX(-100%) scale(0.55);
  transform: translateX(-100%) scale(0.55);
 
}
.cd-item-wrapper li.move-right {
  /* item on right - preview visible */
  -webkit-transform: translateX(100%) scale(0.55);
  -moz-transform: translateX(100%) scale(0.55);
  -ms-transform: translateX(100%) scale(0.55);
  -o-transform: translateX(100%) scale(0.55);
  transform: translateX(100%) scale(0.55);
 
}
.cd-item-wrapper li.hide-left {
  /* items hidden on the left */
  -webkit-transform: translateX(-200%) scale(0.55);
  -moz-transform: translateX(-200%) scale(0.55);
  -ms-transform: translateX(-200%) scale(0.55);
  -o-transform: translateX(-200%) scale(0.55);
  transform: translateX(-200%) scale(0.55);
}
.cd-item-wrapper li img {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 1048px) {
  .cd-item-wrapper li.move-left,
  .cd-item-wrapper li.move-right {
    /* hide preview items */
     
  }
  .cd-item-wrapper li.focus-on-left img{
    /* class added to the .selected and .move-right items when user hovers over the .move-left item (item preview on the left) */
    -webkit-transform: translateX(3%) scale(1.44);
    -moz-transform: translateX(3%) scale(1.44);
    -ms-transform: translateX(3%) scale(1.44);
    -o-transform: translateX(3%) scale(1.44);
    transform: translateX(3%) scale(1.44);
  }
  .cd-item-wrapper li.focus-on-left.move-right {
    -webkit-transform: translateX(103%) scale(0.55);
    -moz-transform: translateX(103%) scale(0.55);
    -ms-transform: translateX(103%) scale(0.55);
    -o-transform: translateX(103%) scale(0.55);
    transform: translateX(103%) scale(0.55);
    z-index: -1;
  }
  .cd-item-wrapper li.focus-on-right img{
    -webkit-transform: translateX(-3%) scale(1.44);
    -moz-transform: translateX(-3%) scale(1.44);
    -ms-transform: translateX(-3%) scale(1.44);
    -o-transform: translateX(-3%) scale(1.44);
    transform: translateX(-3%) scale(1.44);
    z-index: 10001;
  }
  .cd-item-wrapper li.focus-on-right.move-left {
    -webkit-transform: translateX(-103%) scale(0.55);
    -moz-transform: translateX(-103%) scale(0.55);
    -ms-transform: translateX(-103%) scale(0.55);
    -o-transform: translateX(-103%) scale(0.55);
    transform: translateX(-103%) scale(0.55);
  }
  .cd-item-wrapper li.hover {
    /* class added to the preview items (.move-left or .move-right) when user hovers over them */
    opacity: 1 !important;
  }
  .cd-item-wrapper li.hover.move-left {
    -webkit-transform: translateX(-97%) scale(0.6);
    -moz-transform: translateX(-97%) scale(0.6);
    -ms-transform: translateX(-97%) scale(0.6);
    -o-transform: translateX(-97%) scale(0.6);
    transform: translateX(-97%) scale(0.6);
  }
  .cd-item-wrapper li.hover.move-right {
    -webkit-transform: translateX(97%) scale(0.6);
    -moz-transform: translateX(97%) scale(0.6);
    -ms-transform: translateX(97%) scale(0.6);
    -o-transform: translateX(97%) scale(0.6);
    transform: translateX(97%) scale(0.6);
  }
}

.cd-dots {
  /* not visible in the html document - created using jQuery */
  position: absolute;
  bottom: 95px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: .2em;
}
.cd-dots::after {
  clear: both;
  content: "";
  display: table;
}
.cd-dots li {
  display: inline-block;
  float: left;
  margin: 0 5px;
  pointer-events: none;
}
.cd-dots li.selected a {
  background: #2f2933;
  border-color: #2f2933;
}
.cd-dots a {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 1px solid #9688a0;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  -moz-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s;
}
@media only screen and (min-width: 1048px) {
  .cd-dots li {
    pointer-events: auto;
  }
  .cd-dots li.selected a {
    background: #cccccc;
    border-color: #cccccc;
  }
  .cd-dots a {
    height: 8px;
    width: 8px;
    border-color: #cccccc;
    /* fix a bug in IE9/10 - transparent anchor not clickable */
    background-color: rgba(255, 255, 255, 0);
  }
}

.cd-item-info {
  height: 90px;
  line-height: 90px;
  padding: 0 2em;
}
.cd-item-info::after {
  clear: both;
  content: "";
  display: table;
}
.cd-item-info b, .cd-item-info .cd-price, .cd-item-info .cd-new-price {
  font-weight: bold;
  font-size: 2rem;
}
.cd-item-info b {
  float: left;
}
.cd-item-info b a {
  color: #2f2933;
}
.cd-item-info .cd-price, .cd-item-info .cd-new-price {
  /* .cd-new-price not visible in the html document - created using jQuery */
  float: right;
}
.cd-item-info .cd-price {
  color: #a5d05e;
  position: relative;
  margin-left: 10px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.cd-item-info .cd-price::after {
  /* crossing line - visible if price is on sale */
  content: '';
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #a5d05e;
  opacity: 0;
  -webkit-transition: width 0.2s 0s, opacity 0s 0.2s;
  -moz-transition: width 0.2s 0s, opacity 0s 0.2s;
  transition: width 0.2s 0s, opacity 0s 0.2s;
}
.cd-item-info .cd-price.on-sale::after {
  opacity: 1;
  width: 100%;
  -webkit-transition: width 0.2s 0s, opacity 0s 0s;
  -moz-transition: width 0.2s 0s, opacity 0s 0s;
  transition: width 0.2s 0s, opacity 0s 0s;
}
.cd-item-info .cd-new-price {
  /* new price - visible if price is on sale */
  color: #e76363;
  opacity: 0;
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
.cd-item-info .cd-new-price.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-item-info b, .cd-item-info .cd-price, .cd-item-info .cd-new-price {
    font-size: 2.4rem;
  }
}

.no-js .move-right,
.no-js .move-left {
  display: none;
}
.slider_image_caption{
  text-align: center;
  color: #000;
  font: normal 13px/1.4 "helveticaneueltstd_bd", Helvetica, Arial, sans-serif;
  opacity: 0;
  transition: opacity 0.3s;
  padding-top: 10px;
}
.slider_image_caption span {
    font-family: "helvetica_neue_lt_std_roman", Helvetica, Arial, sans-serif;
    display: block;
    font-size: 84%;
    margin: 2px 0 0;
}
.cd-dots{
  display: none;
}
.cd-item-wrapper li.selected .slider_image_caption{
    opacity: 1;
    filter: blur(0);
    backface-visibility: hidden;
    -webkit-filter: blur(0);
    padding-top: 20%;
    font-size: 18px;
}

/*=====  End of Slider 5  ======*/


/*=================================
=            Section 6            =
=================================*/

.wpb_main-slider_6 {
    background: url(../img/wpb_banner_img-6.jpg) center center no-repeat;
    min-height: 570px;
    background-size: cover;
  position: relative;
}
.wpb_slider-content-6 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-left: 2px solid #d10b0b;
    padding: 0 0 0 20px;
    margin-left: 20px;
}
.wpb_slider-content-6 h2 {
    font-size:16px;
    font-weight: normal;
    color: #d10b0b;
    text-transform: uppercase;
}
.wpb_slider-content-6 h3 {
    font-size:56px;
    font-weight: normal;
    color: #212020;
    text-transform: uppercase;
    margin: 17px 0 7px 0;
}
.wpb_slider-content-6 h4 {
    font-size:56px;
    font-weight: normal;
    color: #d10b0b;
    text-transform: uppercase;
}
.wpb_slider-content-6 h5 {
    font-size:56px;
    font-weight: normal;
    color: #171717;
    text-transform: uppercase;
    margin: 6px 0 14px 0;
}

/*=====  End of Section 6  ======*/

/*================================
=            Slider 7            =
================================*/
.wpb_slider-for_7 .slick-slide img {
    max-width: 100%;
    max-height: 709px;
    height: auto;
    width: auto;
    margin: 0 auto;
}
.wpb_slider-for_7.slick-initialized .slick-slide {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.wpb_slider-for_7.slick-initialized .slick-center {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
.wpb_thumbnail-slider_7{
    width: 1063px;
    margin: 0 auto;
    max-width: 100%;
}
.wpb_thumbnail-slider-wrapper_7{
    padding-top: 0;
    position: relative;
}
.wpb_slider-nav_7 .slick-slide{
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.wpb_slider-nav_7 .slick-slide:after{
    content: '';
    width: 100%;
    height: 100%;
    border:2px solid #008692;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.wpb_slider-nav_7 .slick-slide:before{
    background: rgba(0, 134, 146, 0.81);
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    content: '';
    opacity: 0;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.wpb_slider-nav_7 .slick-slide:hover:before{
  opacity: 1;
}
.wpb_slider-nav_7 .slick-slide.slick-center:after,
.wpb_slider-nav_7 .slick-slide.slick-center:before{
    opacity: 1;
}
.wpb_thumbnail-slider-wrapper_7 .slick-arrow.slick-prev{
    left: 60px;
    background: url(../img/wpb_left_black_arrow_icon-2.png) no-repeat center;
}
.wpb_thumbnail-slider-wrapper_7 .slick-arrow.slick-next{
    right: 60px;
    background: url(../img/wpb_right_black_arrow_icon-2.png) no-repeat center;
}
.wpb_thumbnail-slider-wrapper_7 .slick-arrow{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: 100%;
    font-size: 0;
    overflow: hidden;
    line-height: 0;
    border:0;
    background-size: 42px auto;
    padding: 0;
    z-index: 1;
}
.wpb_thumbnail-slider-wrapper_7 .slick-arrow:focus{
    outline: none;
}
.wpb_slider-nav_7 .slick-slide:focus{
    outline: none;
}
.wpb_slider-nav_7{
    margin: 40px 0;
}

.wpb_slider-for_7.slick-initialized .slick-slide {
  display: block;
  filter: alpha(opacity=40);
  opacity: 0; 
  transition: opacity 0.3s ease-out;
}
    
.wpb_slider-for_7.slick-initialized .slick-center {
  display: block;
  filter: alpha(opacity=100);
  opacity: 1; 
  transition: opacity 0.3s ease-out;
}

/*=====  End of Slider 7  ======*/

/*================================
=            Slider 8            =
================================*/

ul.wpb_slickslide_8 {
    padding-left:0;
    max-width:100%;
    padding: 0;
    margin: 0;
}
ul.wpb_slickslide_8.slick-slider .slick-track {
    min-width:100%;
}
ul.wpb_slickslide_8 li img, .slick-dots button img {
    width:100%;
    height:auto;
}
ul.wpb_slickslide_8 .slick-dots {
    bottom:0;
    top:auto;
    left:auto;
    right:auto;
    position:static;
    line-height:0;
    background:#000;
    text-align: center;
}

ul.wpb_slickslide_8 .slick-dots li, ul.wpb_slickslide_8 .slick-dots li button:before {
   /* width: 100px;
    height:100px; */
    margin:0;
    padding:0;
}
ul.wpb_slickslide_8 .slick-dots li {
    margin: 5px; border:1px solid #ccc; display:inline-block; width:auto;height:auto;
}

ul.wpb_slickslide_8.slick-slider .slick-track {
    min-width:100%;
}
ul.wpb_slickslide_8 .slick-dots li button {
    margin:0;
    height:auto;
    width:100%;
    padding:0;
    position: relative;
    padding: 0;
    border:0;

}

ul.wpb_slickslide_8 .slick-dots li button.tab { clear:both;   display:block;}
ul.wpb_slickslide_8 .slick-dots li button img { width:100%; max-width:80px; height:auto;   display: block;}
ul.wpb_slickslide_8 .slick-dots li button:before {
    content:''; border:1px solid #f00;display:block; width:100%;  max-width:150px; overflow:hidden; float:none;  position:absolute;
    width:100%;
    height:100%; top: -1px;}
.wpb_slick-thumbs_8{
  display: none;
}

/*=====  End of Slider 8  ======*/
