.anim h2 {
    font-size: 60px;
    font-family: 'Roboto Condensed';
    color: #000;
    opacity: 0;
  }
  h2{
    font-size: 30px;
    font-family: 'Roboto Condensed';
    color: #000;
  }
  .anim h2 > span > span {
    display: inline-block;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  .anim h2.anim-hd {
    opacity: 1;
  }

  .anim h2.anim-hd > span > span {
    display: inline-block;
    -webkit-animation: bounce 1.2s ease-out forwards;
    animation: bounce 1.2s ease-out forwards;
  }
  .anim-img{
    width: 400px;
    position: relative;
    margin: 0 auto;
  }
  .anim-thumbnail{
    width: 100% !important;
    max-width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1.2s cubic-bezier(.03,.44,.47,.99);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    opacity: 0;
  }
  .small-h-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,50%,100px) rotateX(10deg);
    transform: translate3d(0,50%,100px) rotateX(10deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    box-shadow: 0;
  }
  .big-btm-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,100%,100px) rotateX(90deg);
    transform: translate3d(0,100%,100px) rotateX(90deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    box-shadow: 0;
  }
  .small-vr-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,0,100px) rotateY(90deg);
    transform: translate3d(0,0,100px) rotateY(90deg);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    box-shadow: 0;
  }
  .small-vl-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,0,100px) rotateY(-90deg);
    transform: translate3d(0,0,100px) rotateY(-90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    box-shadow: 0;
  }
  .small-vc-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,0,100px) rotateY(-90deg);
    transform: translate3d(0,0,100px) rotateY(-90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    box-shadow: 0;
  }
  .small-hc-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,0,100px) rotateX(-90deg);
    transform: translate3d(0,0,100px) rotateX(-90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    box-shadow: 0;
  }
  .big-top-flip{
    opacity: 0;
    -webkit-transform: translate3d(0,0,100px) rotateX(-90deg);
    transform: translate3d(0,0,100px) rotateX(-90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  /* .before-anim-thumbnail2{
    opacity: 0;
    -webkit-transform: translate3d(0,100%,100px) rotateX(90deg);
    transform: translate3d(0,100%,100px) rotateX(90deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    box-shadow: 0;
  } */
  .after-anim-thumbnail{
    opacity: 1;
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
  .anim-placeholder{
    width: 100% !important;
    max-width: 100% !important;
  }
  .anim-thumbnail-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
  }
  @keyframes bounce {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes bounce {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  [class*="chunk"] {
    display: inline-block;
  }

  .tranistion-delay-1 {
    -webkit-animation-delay: 0.01s !important;
    animation-delay: 0.01s !important;
  }

  .tranistion-delay-2 {
    -webkit-animation-delay: 0.02s !important;
    animation-delay: 0.02s !important;
  }

  .tranistion-delay-3 {
    -webkit-animation-delay: 0.03s !important;
    animation-delay: 0.03s !important;
  }

  .tranistion-delay-4 {
    -webkit-animation-delay: 0.04s !important;
    animation-delay: 0.04s !important;
  }

  .tranistion-delay-5 {
    -webkit-animation-delay: 0.05s !important;
    animation-delay: 0.05s !important;
  }

  .tranistion-delay-6 {
    -webkit-animation-delay: 0.06s !important;
    animation-delay: 0.06s !important;
  }

  .tranistion-delay-7 {
    -webkit-animation-delay: 0.07s !important;
    animation-delay: 0.07s !important;
  }

  .tranistion-delay-8 {
    -webkit-animation-delay: 0.08s !important;
    animation-delay: 0.08s !important;
  }

  .tranistion-delay-9 {
    -webkit-animation-delay: 0.09s !important;
    animation-delay: 0.09s !important;
  }

  .tranistion-delay-10 {
    -webkit-animation-delay: 0.1s !important;
    animation-delay: 0.1s !important;
  }

  .tranistion-delay-11 {
    -webkit-animation-delay: 0.11s !important;
    animation-delay: 0.11s !important;
  }

  .tranistion-delay-12 {
    -webkit-animation-delay: 0.12s !important;
    animation-delay: 0.12s !important;
  }

  .tranistion-delay-13 {
    -webkit-animation-delay: 0.13s !important;
    animation-delay: 0.13s !important;
  }

  .tranistion-delay-14 {
    -webkit-animation-delay: 0.14s !important;
    animation-delay: 0.14s !important;
  }

  .tranistion-delay-15 {
    -webkit-animation-delay: 0.15s !important;
    animation-delay: 0.15s !important;
  }

  .tranistion-delay-16 {
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }

  .tranistion-delay-17 {
    -webkit-animation-delay: 0.17s !important;
    animation-delay: 0.17s !important;
  }

  .tranistion-delay-18 {
    -webkit-animation-delay: 0.18s !important;
    animation-delay: 0.18s !important;
  }

  .tranistion-delay-19 {
    -webkit-animation-delay: 0.19s !important;
    animation-delay: 0.19s !important;
  }

  .tranistion-delay-20 {
    -webkit-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }

  .tranistion-delay-21 {
    -webkit-animation-delay: 0.21s !important;
    animation-delay: 0.21s !important;
  }

  .tranistion-delay-22 {
    -webkit-animation-delay: 0.22s !important;
    animation-delay: 0.22s !important;
  }

  .tranistion-delay-23 {
    -webkit-animation-delay: 0.23s !important;
    animation-delay: 0.23s !important;
  }

  .tranistion-delay-24 {
    -webkit-animation-delay: 0.24s !important;
    animation-delay: 0.24s !important;
  }

  .tranistion-delay-25 {
    -webkit-animation-delay: 0.25s !important;
    animation-delay: 0.25s !important;
  }

  .tranistion-delay-26 {
    -webkit-animation-delay: 0.26s !important;
    animation-delay: 0.26s !important;
  }

  .tranistion-delay-27 {
    -webkit-animation-delay: 0.27s !important;
    animation-delay: 0.27s !important;
  }

  .tranistion-delay-28 {
    -webkit-animation-delay: 0.28s !important;
    animation-delay: 0.28s !important;
  }

  .tranistion-delay-29 {
    -webkit-animation-delay: 0.29s !important;
    animation-delay: 0.29s !important;
  }

  .tranistion-delay-30 {
    -webkit-animation-delay: 0.3s !important;
    animation-delay: 0.3s !important;
  }

  .tranistion-delay-31 {
    -webkit-animation-delay: 0.31s !important;
    animation-delay: 0.31s !important;
  }

  .tranistion-delay-32 {
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }

  .tranistion-delay-33 {
    -webkit-animation-delay: 0.33s !important;
    animation-delay: 0.33s !important;
  }

  .tranistion-delay-34 {
    -webkit-animation-delay: 0.34s !important;
    animation-delay: 0.34s !important;
  }

  .tranistion-delay-35 {
    -webkit-animation-delay: 0.35s !important;
    animation-delay: 0.35s !important;
  }

  .tranistion-delay-36 {
    -webkit-animation-delay: 0.36s !important;
    animation-delay: 0.36s !important;
  }

  .tranistion-delay-37 {
    -webkit-animation-delay: 0.37s !important;
    animation-delay: 0.37s !important;
  }

  .tranistion-delay-38 {
    -webkit-animation-delay: 0.38s !important;
    animation-delay: 0.38s !important;
  }

  .tranistion-delay-39 {
    -webkit-animation-delay: 0.39s !important;
    animation-delay: 0.39s !important;
  }

  .tranistion-delay-40 {
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }

  .tranistion-delay-41 {
    -webkit-animation-delay: 0.41s !important;
    animation-delay: 0.41s !important;
  }

  .tranistion-delay-42 {
    -webkit-animation-delay: 0.42s !important;
    animation-delay: 0.42s !important;
  }

  .tranistion-delay-43 {
    -webkit-animation-delay: 0.43s !important;
    animation-delay: 0.43s !important;
  }

  .tranistion-delay-44 {
    -webkit-animation-delay: 0.44s !important;
    animation-delay: 0.44s !important;
  }

  .tranistion-delay-45 {
    -webkit-animation-delay: 0.45s !important;
    animation-delay: 0.45s !important;
  }

  .tranistion-delay-46 {
    -webkit-animation-delay: 0.46s !important;
    animation-delay: 0.46s !important;
  }

  .tranistion-delay-47 {
    -webkit-animation-delay: 0.47s !important;
    animation-delay: 0.47s !important;
  }

  .tranistion-delay-48 {
    -webkit-animation-delay: 0.48s !important;
    animation-delay: 0.48s !important;
  }

  .tranistion-delay-49 {
    -webkit-animation-delay: 0.49s !important;
    animation-delay: 0.49s !important;
  }

  .tranistion-delay-50 {
    -webkit-animation-delay: 0.5s !important;
    animation-delay: 0.5s !important;
  }

  .tranistion-delay-51 {
    -webkit-animation-delay: 0.51s !important;
    animation-delay: 0.51s !important;
  }

  .tranistion-delay-52 {
    -webkit-animation-delay: 0.52s !important;
    animation-delay: 0.52s !important;
  }

  .tranistion-delay-53 {
    -webkit-animation-delay: 0.53s !important;
    animation-delay: 0.53s !important;
  }

  .tranistion-delay-54 {
    -webkit-animation-delay: 0.54s !important;
    animation-delay: 0.54s !important;
  }

  .tranistion-delay-55 {
    -webkit-animation-delay: 0.55s !important;
    animation-delay: 0.55s !important;
  }

  .tranistion-delay-56 {
    -webkit-animation-delay: 0.56s !important;
    animation-delay: 0.56s !important;
  }

  .tranistion-delay-57 {
    -webkit-animation-delay: 0.57s !important;
    animation-delay: 0.57s !important;
  }

  .tranistion-delay-58 {
    -webkit-animation-delay: 0.58s !important;
    animation-delay: 0.58s !important;
  }

  .tranistion-delay-59 {
    -webkit-animation-delay: 0.59s !important;
    animation-delay: 0.59s !important;
  }

  .tranistion-delay-60 {
    -webkit-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }

  .tranistion-delay-61 {
    -webkit-animation-delay: 0.61s !important;
    animation-delay: 0.61s !important;
  }

  .tranistion-delay-62 {
    -webkit-animation-delay: 0.62s !important;
    animation-delay: 0.62s !important;
  }

  .tranistion-delay-63 {
    -webkit-animation-delay: 0.63s !important;
    animation-delay: 0.63s !important;
  }

  .tranistion-delay-64 {
    -webkit-animation-delay: 0.64s !important;
    animation-delay: 0.64s !important;
  }

  .tranistion-delay-65 {
    -webkit-animation-delay: 0.65s !important;
    animation-delay: 0.65s !important;
  }

  .tranistion-delay-66 {
    -webkit-animation-delay: 0.66s !important;
    animation-delay: 0.66s !important;
  }

  .tranistion-delay-67 {
    -webkit-animation-delay: 0.67s !important;
    animation-delay: 0.67s !important;
  }

  .tranistion-delay-68 {
    -webkit-animation-delay: 0.68s !important;
    animation-delay: 0.68s !important;
  }

  .tranistion-delay-69 {
    -webkit-animation-delay: 0.69s !important;
    animation-delay: 0.69s !important;
  }

  .tranistion-delay-70 {
    -webkit-animation-delay: 0.7s !important;
    animation-delay: 0.7s !important;
  }

  .tranistion-delay-71 {
    -webkit-animation-delay: 0.71s !important;
    animation-delay: 0.71s !important;
  }

  .tranistion-delay-72 {
    -webkit-animation-delay: 0.72s !important;
    animation-delay: 0.72s !important;
  }

  .tranistion-delay-73 {
    -webkit-animation-delay: 0.73s !important;
    animation-delay: 0.73s !important;
  }

  .tranistion-delay-74 {
    -webkit-animation-delay: 0.74s !important;
    animation-delay: 0.74s !important;
  }

  .tranistion-delay-75 {
    -webkit-animation-delay: 0.75s !important;
    animation-delay: 0.75s !important;
  }

  .tranistion-delay-76 {
    -webkit-animation-delay: 0.76s !important;
    animation-delay: 0.76s !important;
  }

  .tranistion-delay-77 {
    -webkit-animation-delay: 0.77s !important;
    animation-delay: 0.77s !important;
  }

  .tranistion-delay-78 {
    -webkit-animation-delay: 0.78s !important;
    animation-delay: 0.78s !important;
  }

  .tranistion-delay-79 {
    -webkit-animation-delay: 0.79s !important;
    animation-delay: 0.79s !important;
  }

  .tranistion-delay-80 {
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }

  .tranistion-delay-81 {
    -webkit-animation-delay: 0.81s !important;
    animation-delay: 0.81s !important;
  }

  .tranistion-delay-82 {
    -webkit-animation-delay: 0.82s !important;
    animation-delay: 0.82s !important;
  }

  .tranistion-delay-83 {
    -webkit-animation-delay: 0.83s !important;
    animation-delay: 0.83s !important;
  }

  .tranistion-delay-84 {
    -webkit-animation-delay: 0.84s !important;
    animation-delay: 0.84s !important;
  }

  .tranistion-delay-85 {
    -webkit-animation-delay: 0.85s !important;
    animation-delay: 0.85s !important;
  }

  .tranistion-delay-86 {
    -webkit-animation-delay: 0.86s !important;
    animation-delay: 0.86s !important;
  }

  .tranistion-delay-87 {
    -webkit-animation-delay: 0.87s !important;
    animation-delay: 0.87s !important;
  }

  .tranistion-delay-88 {
    -webkit-animation-delay: 0.88s !important;
    animation-delay: 0.88s !important;
  }

  .tranistion-delay-89 {
    -webkit-animation-delay: 0.89s !important;
    animation-delay: 0.89s !important;
  }

  .tranistion-delay-90 {
    -webkit-animation-delay: 0.9s !important;
    animation-delay: 0.9s !important;
  }

  .tranistion-delay-91 {
    -webkit-animation-delay: 0.91s !important;
    animation-delay: 0.91s !important;
  }

  .tranistion-delay-92 {
    -webkit-animation-delay: 0.92s !important;
    animation-delay: 0.92s !important;
  }

  .tranistion-delay-93 {
    -webkit-animation-delay: 0.93s !important;
    animation-delay: 0.93s !important;
  }

  .tranistion-delay-94 {
    -webkit-animation-delay: 0.94s !important;
    animation-delay: 0.94s !important;
  }

  .tranistion-delay-95 {
    -webkit-animation-delay: 0.95s !important;
    animation-delay: 0.95s !important;
  }

  .tranistion-delay-96 {
    -webkit-animation-delay: 0.96s !important;
    animation-delay: 0.96s !important;
  }

  .tranistion-delay-97 {
    -webkit-animation-delay: 0.97s !important;
    animation-delay: 0.97s !important;
  }

  .tranistion-delay-98 {
    -webkit-animation-delay: 0.98s !important;
    animation-delay: 0.98s !important;
  }

  .tranistion-delay-99 {
    -webkit-animation-delay: 0.99s !important;
    animation-delay: 0.99s !important;
  }

  .tranistion-delay-100 {
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }

  .tranistion-delay-101 {
    -webkit-animation-delay: 1.01s !important;
    animation-delay: 1.01s !important;
  }

  .tranistion-delay-102 {
    -webkit-animation-delay: 1.02s !important;
    animation-delay: 1.02s !important;
  }

  .tranistion-delay-103 {
    -webkit-animation-delay: 1.03s !important;
    animation-delay: 1.03s !important;
  }

  .tranistion-delay-104 {
    -webkit-animation-delay: 1.04s !important;
    animation-delay: 1.04s !important;
  }

  .tranistion-delay-105 {
    -webkit-animation-delay: 1.05s !important;
    animation-delay: 1.05s !important;
  }

  .tranistion-delay-106 {
    -webkit-animation-delay: 1.06s !important;
    animation-delay: 1.06s !important;
  }

  .tranistion-delay-107 {
    -webkit-animation-delay: 1.07s !important;
    animation-delay: 1.07s !important;
  }

  .tranistion-delay-108 {
    -webkit-animation-delay: 1.08s !important;
    animation-delay: 1.08s !important;
  }

  .tranistion-delay-109 {
    -webkit-animation-delay: 1.09s !important;
    animation-delay: 1.09s !important;
  }

  .tranistion-delay-110 {
    -webkit-animation-delay: 1.1s !important;
    animation-delay: 1.1s !important;
  }

  .tranistion-delay-111 {
    -webkit-animation-delay: 1.11s !important;
    animation-delay: 1.11s !important;
  }

  .tranistion-delay-112 {
    -webkit-animation-delay: 1.12s !important;
    animation-delay: 1.12s !important;
  }

  .tranistion-delay-113 {
    -webkit-animation-delay: 1.13s !important;
    animation-delay: 1.13s !important;
  }

  .tranistion-delay-114 {
    -webkit-animation-delay: 1.14s !important;
    animation-delay: 1.14s !important;
  }

  .tranistion-delay-115 {
    -webkit-animation-delay: 1.15s !important;
    animation-delay: 1.15s !important;
  }

  .tranistion-delay-116 {
    -webkit-animation-delay: 1.16s !important;
    animation-delay: 1.16s !important;
  }

  .tranistion-delay-117 {
    -webkit-animation-delay: 1.17s !important;
    animation-delay: 1.17s !important;
  }

  .tranistion-delay-118 {
    -webkit-animation-delay: 1.18s !important;
    animation-delay: 1.18s !important;
  }

  .tranistion-delay-119 {
    -webkit-animation-delay: 1.19s !important;
    animation-delay: 1.19s !important;
  }

  .tranistion-delay-120 {
    -webkit-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }

  .tranistion-delay-121 {
    -webkit-animation-delay: 1.21s !important;
    animation-delay: 1.21s !important;
  }

  .tranistion-delay-122 {
    -webkit-animation-delay: 1.22s !important;
    animation-delay: 1.22s !important;
  }

  .tranistion-delay-123 {
    -webkit-animation-delay: 1.23s !important;
    animation-delay: 1.23s !important;
  }

  .tranistion-delay-124 {
    -webkit-animation-delay: 1.24s !important;
    animation-delay: 1.24s !important;
  }

  .tranistion-delay-125 {
    -webkit-animation-delay: 1.25s !important;
    animation-delay: 1.25s !important;
  }

  .tranistion-delay-126 {
    -webkit-animation-delay: 1.26s !important;
    animation-delay: 1.26s !important;
  }

  .tranistion-delay-127 {
    -webkit-animation-delay: 1.27s !important;
    animation-delay: 1.27s !important;
  }

  .tranistion-delay-128 {
    -webkit-animation-delay: 1.28s !important;
    animation-delay: 1.28s !important;
  }

  .tranistion-delay-129 {
    -webkit-animation-delay: 1.29s !important;
    animation-delay: 1.29s !important;
  }

  .tranistion-delay-130 {
    -webkit-animation-delay: 1.3s !important;
    animation-delay: 1.3s !important;
  }

  .tranistion-delay-131 {
    -webkit-animation-delay: 1.31s !important;
    animation-delay: 1.31s !important;
  }

  .tranistion-delay-132 {
    -webkit-animation-delay: 1.32s !important;
    animation-delay: 1.32s !important;
  }

  .tranistion-delay-133 {
    -webkit-animation-delay: 1.33s !important;
    animation-delay: 1.33s !important;
  }

  .tranistion-delay-134 {
    -webkit-animation-delay: 1.34s !important;
    animation-delay: 1.34s !important;
  }

  .tranistion-delay-135 {
    -webkit-animation-delay: 1.35s !important;
    animation-delay: 1.35s !important;
  }

  .tranistion-delay-136 {
    -webkit-animation-delay: 1.36s !important;
    animation-delay: 1.36s !important;
  }

  .tranistion-delay-137 {
    -webkit-animation-delay: 1.37s !important;
    animation-delay: 1.37s !important;
  }

  .tranistion-delay-138 {
    -webkit-animation-delay: 1.38s !important;
    animation-delay: 1.38s !important;
  }

  .tranistion-delay-139 {
    -webkit-animation-delay: 1.39s !important;
    animation-delay: 1.39s !important;
  }

  .tranistion-delay-140 {
    -webkit-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }

  .tranistion-delay-141 {
    -webkit-animation-delay: 1.41s !important;
    animation-delay: 1.41s !important;
  }

  .tranistion-delay-142 {
    -webkit-animation-delay: 1.42s !important;
    animation-delay: 1.42s !important;
  }

  .tranistion-delay-143 {
    -webkit-animation-delay: 1.43s !important;
    animation-delay: 1.43s !important;
  }

  .tranistion-delay-144 {
    -webkit-animation-delay: 1.44s !important;
    animation-delay: 1.44s !important;
  }

  .tranistion-delay-145 {
    -webkit-animation-delay: 1.45s !important;
    animation-delay: 1.45s !important;
  }

  .tranistion-delay-146 {
    -webkit-animation-delay: 1.46s !important;
    animation-delay: 1.46s !important;
  }

  .tranistion-delay-147 {
    -webkit-animation-delay: 1.47s !important;
    animation-delay: 1.47s !important;
  }

  .tranistion-delay-148 {
    -webkit-animation-delay: 1.48s !important;
    animation-delay: 1.48s !important;
  }

  .tranistion-delay-149 {
    -webkit-animation-delay: 1.49s !important;
    animation-delay: 1.49s !important;
  }

  .tranistion-delay-150 {
    -webkit-animation-delay: 1.5s !important;
    animation-delay: 1.5s !important;
  }

  .tranistion-delay-151 {
    -webkit-animation-delay: 1.51s !important;
    animation-delay: 1.51s !important;
  }

  .tranistion-delay-152 {
    -webkit-animation-delay: 1.52s !important;
    animation-delay: 1.52s !important;
  }

  .tranistion-delay-153 {
    -webkit-animation-delay: 1.53s !important;
    animation-delay: 1.53s !important;
  }

  .tranistion-delay-154 {
    -webkit-animation-delay: 1.54s !important;
    animation-delay: 1.54s !important;
  }

  .tranistion-delay-155 {
    -webkit-animation-delay: 1.55s !important;
    animation-delay: 1.55s !important;
  }

  .tranistion-delay-156 {
    -webkit-animation-delay: 1.56s !important;
    animation-delay: 1.56s !important;
  }

  .tranistion-delay-157 {
    -webkit-animation-delay: 1.57s !important;
    animation-delay: 1.57s !important;
  }

  .tranistion-delay-158 {
    -webkit-animation-delay: 1.58s !important;
    animation-delay: 1.58s !important;
  }

  .tranistion-delay-159 {
    -webkit-animation-delay: 1.59s !important;
    animation-delay: 1.59s !important;
  }

  .tranistion-delay-160 {
    -webkit-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }

  .tranistion-delay-161 {
    -webkit-animation-delay: 1.61s !important;
    animation-delay: 1.61s !important;
  }

  .tranistion-delay-162 {
    -webkit-animation-delay: 1.62s !important;
    animation-delay: 1.62s !important;
  }

  .tranistion-delay-163 {
    -webkit-animation-delay: 1.63s !important;
    animation-delay: 1.63s !important;
  }

  .tranistion-delay-164 {
    -webkit-animation-delay: 1.64s !important;
    animation-delay: 1.64s !important;
  }

  .tranistion-delay-165 {
    -webkit-animation-delay: 1.65s !important;
    animation-delay: 1.65s !important;
  }

  .tranistion-delay-166 {
    -webkit-animation-delay: 1.66s !important;
    animation-delay: 1.66s !important;
  }

  .tranistion-delay-167 {
    -webkit-animation-delay: 1.67s !important;
    animation-delay: 1.67s !important;
  }

  .tranistion-delay-168 {
    -webkit-animation-delay: 1.68s !important;
    animation-delay: 1.68s !important;
  }

  .tranistion-delay-169 {
    -webkit-animation-delay: 1.69s !important;
    animation-delay: 1.69s !important;
  }

  .tranistion-delay-170 {
    -webkit-animation-delay: 1.7s !important;
    animation-delay: 1.7s !important;
  }

  .tranistion-delay-171 {
    -webkit-animation-delay: 1.71s !important;
    animation-delay: 1.71s !important;
  }

  .tranistion-delay-172 {
    -webkit-animation-delay: 1.72s !important;
    animation-delay: 1.72s !important;
  }

  .tranistion-delay-173 {
    -webkit-animation-delay: 1.73s !important;
    animation-delay: 1.73s !important;
  }

  .tranistion-delay-174 {
    -webkit-animation-delay: 1.74s !important;
    animation-delay: 1.74s !important;
  }

  .tranistion-delay-175 {
    -webkit-animation-delay: 1.75s !important;
    animation-delay: 1.75s !important;
  }

  .tranistion-delay-176 {
    -webkit-animation-delay: 1.76s !important;
    animation-delay: 1.76s !important;
  }

  .tranistion-delay-177 {
    -webkit-animation-delay: 1.77s !important;
    animation-delay: 1.77s !important;
  }

  .tranistion-delay-178 {
    -webkit-animation-delay: 1.78s !important;
    animation-delay: 1.78s !important;
  }

  .tranistion-delay-179 {
    -webkit-animation-delay: 1.79s !important;
    animation-delay: 1.79s !important;
  }

  .tranistion-delay-180 {
    -webkit-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }

  .tranistion-delay-181 {
    -webkit-animation-delay: 1.81s !important;
    animation-delay: 1.81s !important;
  }

  .tranistion-delay-182 {
    -webkit-animation-delay: 1.82s !important;
    animation-delay: 1.82s !important;
  }

  .tranistion-delay-183 {
    -webkit-animation-delay: 1.83s !important;
    animation-delay: 1.83s !important;
  }

  .tranistion-delay-184 {
    -webkit-animation-delay: 1.84s !important;
    animation-delay: 1.84s !important;
  }

  .tranistion-delay-185 {
    -webkit-animation-delay: 1.85s !important;
    animation-delay: 1.85s !important;
  }

  .tranistion-delay-186 {
    -webkit-animation-delay: 1.86s !important;
    animation-delay: 1.86s !important;
  }

  .tranistion-delay-187 {
    -webkit-animation-delay: 1.87s !important;
    animation-delay: 1.87s !important;
  }

  .tranistion-delay-188 {
    -webkit-animation-delay: 1.88s !important;
    animation-delay: 1.88s !important;
  }

  .tranistion-delay-189 {
    -webkit-animation-delay: 1.89s !important;
    animation-delay: 1.89s !important;
  }

  .tranistion-delay-190 {
    -webkit-animation-delay: 1.9s !important;
    animation-delay: 1.9s !important;
  }

  .tranistion-delay-191 {
    -webkit-animation-delay: 1.91s !important;
    animation-delay: 1.91s !important;
  }

  .tranistion-delay-192 {
    -webkit-animation-delay: 1.92s !important;
    animation-delay: 1.92s !important;
  }

  .tranistion-delay-193 {
    -webkit-animation-delay: 1.93s !important;
    animation-delay: 1.93s !important;
  }

  .tranistion-delay-194 {
    -webkit-animation-delay: 1.94s !important;
    animation-delay: 1.94s !important;
  }

  .tranistion-delay-195 {
    -webkit-animation-delay: 1.95s !important;
    animation-delay: 1.95s !important;
  }

  .tranistion-delay-196 {
    -webkit-animation-delay: 1.96s !important;
    animation-delay: 1.96s !important;
  }

  .tranistion-delay-197 {
    -webkit-animation-delay: 1.97s !important;
    animation-delay: 1.97s !important;
  }

  .tranistion-delay-198 {
    -webkit-animation-delay: 1.98s !important;
    animation-delay: 1.98s !important;
  }

  .tranistion-delay-199 {
    -webkit-animation-delay: 1.99s !important;
    animation-delay: 1.99s !important;
  }
