/*=============================================>>>>>
 = Header 1 =
===============================================>>>>>*/

.wpb_header-1{
    width: 100%;
    max-width: 1225px;
    padding:19px 20px 0px 20px;
    margin: 0 auto;
}
.wpb_search_form-1{
    float: right;
    border: 1px solid #53585a;
    width: 230px;
    height: 35px;
    margin-bottom: 48px;
}
.wpb_search_form-1 .wpb_submit-1, .wpb_search_btn-1{
    background: #53585a url(../img/search_arrow.png) no-repeat center center;
    display: block;
    width: 33px;
    height: 33px;
    text-indent: -9999px;
    border: 0;
    float: right;
    cursor: pointer;
}
.wpb_search_form-1 input[type="text"]{
    float: left;
    color: #58595b;
    font-size: 24px;
    padding: 2px 5px;
    line-height: 27px;
    border: 0;
    width: 195px;
}
.wpb_social_links-1{
    float: left;
    margin-top: 71px;
    margin-left: 6px;
}
.wpb_social_links-1 ul{
    padding: 0;
    margin: 0;
}
.wpb_social_links-1 li{
    display: inline-block;
    margin-right: 3px;
}
.wpb_social_links-1 p{
    margin: 2px 0 0px 0;
}
.wpb_login-1 a{
    color: #53585a;
    font-size: 2.6rem;
    text-decoration: none;
}
.wpb_contact_info-1{
    clear: right;
    float: right;
}
.wpb_contact_info-1 a{
    clear: right;
    float: right;
    color: #58595b;
    text-decoration: none;
    font-size: 2.8rem
}
.wpb_contact_info-1 a.tel{
    font-size: 4rem;
}
.wpb_logo-1{
    display: block;
    margin: 18px auto 106px;
    width: 320px;
}
.wpb_add_to_cart-1{
    clear: right;
    float: right;
}
.wpb_header-nav-1{
    text-align: center;
    padding: 28px 0 0 0;
    font-size: 0;
}
.wpb_header-nav-1>li{
    display: inline-block;
    padding: 0 22px;
    position: relative;
    font-size: 2.6rem;
}
.wpb_header-nav-1>li>ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #fff;
    border:1px solid #575656;
    z-index: 1001;
    padding: 0;
    margin: 0;
}
.wpb_header-nav-1>li>ul li{
    font-size: 2.6rem;
    color: #575656;

}
.wpb_header-nav-1>li>ul>li a{
    color: #575656;
    text-decoration: none;
    display: block;
    padding:5px;
}
.wpb_header-nav-1>li>ul>li>ul{
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background: #fff;
    border:1px solid #575656;
    z-index: 10;
    padding: 0;
    margin: 0;

}
.wpb_header-nav-1>li:before{
    content: "|";
    color: #000;
    position: absolute;
    left: 0px;
}
.wpb_header-nav-1>li:first-child:before{
    display: none;
}
.wpb_header-nav-1>li>a{
    text-decoration: none;
    color: #58595b;
    position: relative;
    padding: 0 0 15px;
    display: inline-block;
}
.wpb_header-nav-1>li>a:before{
  content: '';
  width: 0;
  height: 12px;
  background: #9cafad;
  left: -21px;
  bottom: 0;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.wpb_header-nav-1>li:not(.active):hover>a:before,.wpb_header-nav-1>li.active>a:before{
  width: calc(100% + 46px);
}

.wpb_contact_list-1{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    clear: both;
}
.wpb_contact_list-1 li{
    width: 33.3334%;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.wpb_contact_list-1 li img{
    width: 100%;
    vertical-align: bottom;
}
.wpb_contact_list-1 li a{
    display: block;
    width: 100%;
    height: 100%;
}
.wpb_contact_list-1 li a .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 36px;
}
.wpb_contact_list-1 li h4{
    position: absolute;
    bottom: 36px;
    left: 36px;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
}
.wpb_login-1{
    font-size: 2.6rem;
}
.wpb_login-1 a {
    color: #53585a;
    font-size: 2.6rem;
    text-decoration: none;
}
.wpb_header-1 .wpb_logo {
    display: block;
    margin: 18px auto 106px;
    width: 320px;
}
.wpb_search_btn-1{
    display: none;
}
.wpb_header-nav-1>li:first-child>a:before{
    background: #dcc2b5;
}
.wpb_header-nav-1>li:nth-child(3)>a:before{
    background: #b7ada4;
}
.wpb_header-nav-1>li:nth-child(4)>a:before{
    background: #53585a;
}
.wpb_header-nav-1>li:nth-child(5)>a:before{
    background: #d2cdca;
}
.wpb_header-nav-1>li.men.active>a:before{
    background: #7998ac;
}
.wpb_navTrigger-1 {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  float: right;
  bottom: 0;
  margin-top: 5px;
  margin-right: 20px;
}
.wpb_navTrigger-1 i {
  background-color: #525252;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}
.wpb_navTrigger-1 i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.wpb_navTrigger-1 i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.wpb_navTrigger-1 i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.wpb_navTrigger-1.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}
.wpb_navTrigger-1.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}
.wpb_navTrigger-1.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@media screen and (max-width: 991px){
    .wpb_contact_info-1 a,.wpb_login-1,.wpb_header-nav-1>li{
        font-size: 2rem;
    }
    .wpb_contact_info-1 a.tel {
        font-size: 2.5rem;
    }
    .wpb_social_links-1{
        margin-top: 0;
    }
    .wpb_social_links-1 li img {
        max-width: 40px;
    }
    .wpb_header-1 .wpb_logo {
        margin-bottom: 20px;
        width: 220px;
    }
    .wpb_header-1 .wpb_logo img{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .wpb_header-nav-1>li ul {
        visibility: hidden;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    .wpb_header-nav-1>li:hover>ul {
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    .wpb_navTrigger-1{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .contact_info {
        float: right;
        margin-bottom: 4px;
    }
    .search_btn {
        float: right;
        clear: right;
        clear: both;
    }
    .wpb_header-1 .wpb_contact_info-1 a:not(.tel) {
        display: none;
    }
    .wpb_header-1 .wpb_logo {
        width: 150px;
        margin-top: -1px;
        margin-bottom: 10px;
        float: left;
    }
    .wpb_social_links-1 {
        display: none;
    }
    .wpb_search_form-1 {
        top: 55px;
        margin-bottom: 20px;
        position: absolute;
        width: 0;
        visibility: hidden;
        opacity: 0;
        right: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }
    .wpb_header-1{
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    .wpb_header-1 .wpb_logo{
        width:
    }
    .wpb_header-nav-1 {
        float: none;
        clear: both;
        display: block;
        padding-top: 0;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        background: #323232;
        height: 100%;
        z-index: 99999;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        padding-top: 50px;
        overflow: auto;
    }
    .wpb_header-nav-1.wpb_slide-in-1{
      left: 0;
    }
    .wpb_add_to_cart-1{
        display: none;
    }
    .wpb_search_btn-1{
        display: inline-block;
        clear: right;
    }
    .wpb_contact_info-1 a.tel{
      font-size: 2rem;
    }
    .wpb_header-nav-1>li {
        display: block;
        padding: 0;
    }
    .wpb_header-nav-1 li a {
          color: #fff;
      }
      .wpb_header-nav-1>li>a {
          display: block;
      }
      .wpb_header-nav-1>li>ul, .wpb_header-nav-1>li>ul>li>ul {
          position: static;
          width: 100%;
          border: 0;
          display: none;
      }
      .wpb_header-nav-1>li:not(.active):hover>a:before, .wpb_header-nav-1>li.active>a:before{
        display: none;
      }
      .wpb_header-nav-1>li>ul li {
          font-size: 2rem;
      }
      .wpb_navTrigger-1.active {
          position: fixed;
          z-index: 100000;
          right: 20px;
          top: 20px;
          margin: 0;
          color: #fff;
      }
      .wpb_navTrigger-1.active i{
        background: #fff;
      }
}

/*= End of Header 1 ==============>>>>>*/
/*=============================================>>>>>
 = Header 2 =
===============================================>>>>>*/

.wpb_header_wraper-2{
   background: #ffffff;
   position: relative; 
}
.wpb_header_wraper-2 .wpb_container-2{
    position: relative;
}
.wpb_login_nav-2{
    float: right;
    padding-top: 13px;
    margin-right: 2px;
}
.wpb_login_nav-2 li{
    float: left;
    margin-left: 22px;
    font-size: 14px;
}
.wpb_login_nav-2 li:last-child:after{
    display: none;
}
.wpb_login_nav-2 li.wpb_person-2{
    margin-left: 18px;
}
.wpb_login_nav-2 li{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 3px 0px 2px 15px;
  position: relative;
  color: #0033a0;
  list-style: none;
}
.wpb_login_nav-2 li.wpb_person-2:after{
    background-image: url(../img/wpb_person-2.png);
    top: 4px;
    left: -6px;
    width: 14px;
    height: 14px;
    background-size: 100% auto;
    content: '';
    position: absolute;
}
.wpb_login_nav-2 li.wpb_search-2{
    cursor: pointer;
}
.wpb_login_nav-2 li.wpb_search-2:after{
    background-image: url(../img/wpb_search-2.png);
    top: 4px;
    left: -6px;
    width: 15px;
    height: 14px;
    background-size: 100% auto;
    content: '';
    position: absolute;
}
.wpb_searchForm-2{
    position: absolute;
    background: #fff;
    padding: 16px 20px 0 20px;
    top: 0;
    width: 100%;
    display: none;
    width: 250px;
    right: 0;
}
.wpb_searchForm-2 input[type="search"]{
    width: 100%;
    border:0;
    font: normal 14px 'SofiaProSoftLight', Arial, Helvetica, sans-serif;
    line-height: 16px;
    color: rgba(0, 51, 161, .5);
    display: block;
}
.wpb_searchForm-2 input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 51, 161, .5);
}

.wpb_searchForm-2 input[type="search"]:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 51, 161, .5);
}

.wpb_searchForm-2 input[type="search"]::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 51, 161, .5);
}
.wpb_searchForm-2 input[type="search"]:-ms-input-placeholder {
    color: rgba(0, 51, 161, .5);
}
.wpb_closeicon-2{
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 15px;
    right: 0;
    cursor: pointer;
}
.wpb_closeicon-2:before, .wpb_closeicon-2:after{
    content: "";
    position: absolute;
    top: 12px;
    left: 6px;
    width: 12px;
    height: 1px;
    background-color: #df4660;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.wpb_closeicon-2:after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.wpb_closeicon-2:before{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wpb_menuButton-2{
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    margin-left: -13px;
    margin-right: 13px;
}
.wpb_menuButton-2:after{
    content: "";
    position: absolute;
    top: 32px;
    left: 13px;
    width: 25px;
    height: 2px;
    background-color: #df4660;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.wpb_menuButton-2.active:after{
    top: 24px;
}

.wpb_menuButton-2 span{
    position: absolute;
    top: 24px;
    left: 13px;
    width: 25px;
    height: 2px;
    background-color: #df4660;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.wpb_menuButton-2.active:before{
    top: 24px;
}
.wpb_menuButton-2:before{
    content: "";
    position: absolute;
    top: 16px;
    left: 13px;
    width: 25px;
    height: 2px;
    background-color: #df4660;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.wpb_menuButton-2.active span{
    background-color: transparent;
}
.wpb_menuButton-2.active:before{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.wpb_menuButton-2.active:after{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wpb_logo-2{
    float: left;
    margin:16px 0px 10px 34px;
}
.wpb_menu-2{
    float: left;
    margin:3px 0px 0px 102px;
    padding: 0;
}
.wpb_menu-2 li{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      line-height: 1.2;
      padding: 3px 0px 2px 15px;
      position: relative;
      color: #0033a0;
      list-style: none;
}
.wpb_menu-2 > li{
    font-size: 22px;
    float: left;
    padding: 10px 25px 27px 16px;
    margin-right: 30px;
    position: relative;
    z-index: 9999;
}
.wpb_menu-2 li:after {
    transition: all 0.4s ease-in-out;
}
.wpb_menu-2 li:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 5px;
    height: 8px;
    background-size: 100% auto;
}
.wpb_menu-2 li:after {
    background-image: url(../img/wpb_arrow-2.png);
}
.wpb_menu-2 > li:after{
    top: 20px;
    left: 0px;
    width: 7px;
    height: 11px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.wpb_menu-2 > li:hover:after{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.wpb_menu-2 ul{
    display: none;
    position:absolute;
    top: 100%;
    width: 210px;
    padding: 31px 10px 31px 30px;
    left: -28px;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: -1px 2px 3px rgba(0,0,0,.05);
    z-index: 999;
}
.wpb_menu-2 ul li:after{
    top: 15px;
}
.wpb_menu-2 > li:hover  ul, .wpb_menu-2 li:hover ul:hover{
    display: block;
}
.wpb_menu-2 > li a{
    text-decoration: none;
    color: #0033a0;
}
.wpb_menu-2 ul a{
    padding: 5px 0;
    display: block;
    /*color: #*/
}
.wpb_menu-2 ul li:hover:after{
    left: 5px;
}
.wpb_mega_menu-2{
    background: #f2f5fa;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 9999;
}
.wpb_mega_menu-2 .wpb_container-2{
    max-width: 860px;
    padding: 27px 34px;
}
.wpb_main_menu_items-2{
    float: right;
    width: 75.6%;
    border-left: 1px solid #b5c4e3;
    margin-right: 1px;
    margin-left: -1px;
    padding-left: 28px;
}
.wpb_main_menu_items-2 ul{
  padding-left: 0;
}
.wpb_main_menu_items-2 > li{
    float: left;
    width: 33%;
    margin: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
}
.wpb_main_menu_items-2 > li:after{
    display: none;
}
.wpb_main_menu_items-2 > li > a{
    display: none;
}
.wpb_main_page_menu-2{
    float: left;
    width: 24.4%;
    border-right: 1px solid #b5c4e3;
    padding-left: 0;
}
.wpb_main_page_menu-2 ul{
  margin-bottom: 0;
}
.wpb_menu_info-2{
    clear: both;
    font: normal 17px  Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #0033a0;
    padding-top: 53px;
    letter-spacing: 0.03em;
}
.wpb_menu_info-2:after{
    content: '';
    display: table;
    clear: both;
}
.wpb_menu_info-2 p{
    float: left;
    color: #df4660;
    margin: 0;
    margin-right: 40px;
}
.wpb_menu_info-2 a{
    float: left;
    color: #0033a0;
    margin: 0;
    text-decoration: none;
    margin-right: 38px;
    padding-left: 24px;
    background: url(../img/wpb_tphone-2.png) no-repeat 0 center;
    line-height: 25px;
    letter-spacing: 0.05em;
}
.wpb_menu_info-2 address{
    float: left;
    margin: 0;
    text-decoration: none;
    margin-right: 0;
    font-style: normal;
    letter-spacing: -0.02em;
}
.wpb_mega_menu-2 ul li a{
    text-decoration: none;
    color: #0033a0;
}
.wpb_mega_menu-2 ul li{
  position: relative;
}
.wpb_mega_menu-2 ul li:after{
    transition: all 0.4s ease-in-out;
    top: 8px;
    left: 0px;
    width: 6px;
    height: 9px;
    background-image: url(../img/wpb_arrow-2.png);
    content: '';
    position: absolute;
    background-size: 100% auto;
}
.wpb_mega_menu-2 ul li:hover:after{
    left: 5px;
}
.wpb_mega_menu-2 ul li:hover>a{
    color: #df4660;
}
.wpb_mega_menu-2 ul li{
    margin: 9px 0;
    padding: 2px 0 3px 16px;
    letter-spacing: 0.02em;
}
.wpb_menu_info-2 a:hover{
    color: #df4660;
}
.container {
    width: 100%;
    max-width: 1024px;
    padding: 0px 30px;
    margin: 0 auto;
}
.wpb_header-2{
  max-width: 1024px;
  padding: 0 30px;
}
.wpb_menu_secion-2 {
    clear: both;
    padding-top: 14px;
}
.wpb_mega_menu-2 .container {
    max-width: 860px;
    padding: 27px 34px;
}
.wpb_searchicon-2 {
    position: absolute;
    height: 14px;
    background-image: url(../img/wpb_search-2.png);
    bottom: 15px;
    left: 0;
    width: 15px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
@media screen and (max-width: 1023px) and (min-width: 768px){
  .wpb_header-2 {
      width: 740px;
  }
  .wpb_menu-2 {
      margin-left: 60px;
  }
  .wpb_menu-2 > li {
      padding: 10px 23px 27px 16px;
      margin-right: 0px;
      font-size: 20px;
  }
  .wpb_menu-2 > li:after{
    top: 16px;
  }
  .wpb_mega_menu-2 ul li{
    width: 50%;
  }
  .wpb_mega_menu-2 ul li:last-child{
    width: 100%;
  }
  .wpb_menu_info-2 p, .wpb_menu_info-2 address {
      display: none;
  }
}
@media screen and (max-width: 767px){
  .wpb_header-2 {
      width: 100%;
  }
  .wpb_login_nav-2 li {
      margin-left: 0;
  }
  .wpb_login_nav-2 li span {
    display: none;
  }
  .wpb_login_nav-2 li.wpb_search-2:after {
      top: 6px;
      left: 3px;
  }
  .wpb_menu-2 {
      display: none;
  }
  .wpb_menuButton-2 {
      margin-right: 5px;
  }
  .wpb_logo-2{
    margin: 18px 0px 10px 1px;
    height: 14px;
    width: auto;
  }
  .wpb_menu_secion-2{
    clear: none;
    float: none;
  }
  .wpb_menu_info-2 p, .wpb_menu_info-2 address {
      display: none;
  }
  .wpb_main_menu_items-2>li>ul {
      margin-left: 15px;
      display: none;
  }
  .wpb_main_menu_items-2 > li > a {
      display: block;
  }
  .wpb_main_menu_items-2 {
      float: none;
      width: 100%;
      padding-left: 41px;
      padding-bottom: 46px;
      padding-top: 15px;
      border: 0;
      border-bottom: 1px solid #b5c4e3;
  }
  .wpb_main_menu_items-2 > li {
      width: 100%;
      padding-left: 0 !important;
      float: none;
  }
  .wpb_main_menu_items-2 > li > a {
      display: block;
      font-size: 21px;
      padding-left: 0;
  }
  .wpb_main_menu_items-2 > li>a:before {
      background: url(../img/wpb_arrow-2.png) no-repeat 0 0;
      content: "";
      display: inline-block;
      top: 8px;
      left: 0px;
      width: 6px;
      height: 11px;
      background-size: 100% auto;
      margin-right: 8px;
  }
  .wpb_main_page_menu-2{
    width: 100%;
    border-right: 0;
    padding-left: 39px;
    padding-top: 33px;
  }
  .wpb_menu_info-2{
      padding-left: 28px;
      padding-top: 27px;
  }
  .wpb_searchForm-2 {
      padding: 20px 25px 15px 25px;
      width: calc(100% - 50px);
      z-index: 100;
      margin-right: 25px;
  }
  .searchForm input[type="search"] {
      width: 100%;
      border: 0;
      font: normal 14px 'SofiaProSoftLight', Arial, Helvetica, sans-serif;
      line-height: 16px;
      color: rgba(0, 51, 161, .5);
      display: block;
  }
}
/*= End of Header 2 ==============>>>>>*/

/*=============================================>>>>>
 = Header 3 =
===============================================>>>>>*/

.wpb_top-menu-bar-3 {
  position: relative;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../img/wpb_banner-img-3.jpg) no-repeat center;
  padding-top: 20px;
  background-size: cover;
}
.wbp_logo-3{
  float: left;
  position: relative;
  z-index: 1;
}
.wpb_top-menu-bar-3 .wpb_container:after{
  content: '';
  display: table;
  clear: both;
}
.wpb_top-menu-bar-3:after{
  content: '';
  display: table;
  clear: both;
}
.wpb_right-menus-3 {
  float: right;
  margin-top: 8px;
}
.wpb_right-menus-3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wpb_main-nav-3 {
  float: left;
}
.wpb_right-menus-3 ul li {
  display: inline-block;
  margin-left: 3px;
  font: normal 16px "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.1;
  vertical-align: top;
}
.wpb_right-menus-3 ul.wpb_main-nav-3 {
  margin-top: 3px;
  // margin-right: 145px;
}
.wpb_right-menus-3 {
  width: calc(100% - 160px);
}
.wpb_right-menus-3 ul.wpb_main-nav-3 li {
  margin-right: 0;
  margin-left: 53px;
}
.wpb_right-menus-3 ul.wpb_main-nav-3 li ul li {
  margin-left: 0;
}
/*// .wpb_main-nav-3 li ul:before{
//   height: 100%;
//   width: 10000px;
//   left: -5000px;
//   content: '';
//   position: absolute;
//   top: 21px;
//   background-color: rgba(54, 71, 80, 0.8);
//   background-image: -moz-linear-gradient(top,  rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
//   background-image: -webkit-linear-gradient(top,  rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
//   background-image: linear-gradient(to bottom,  rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);

// }*/
.wpb_right-menus-3 ul li a {
  display: inline-block;
  float: left;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  color: #fff;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.13);
  text-decoration: none;
  position: relative;
}
.wpb_right-menus-3 ul li a:after{
  content: '';
  height: 2px;
  width: 0;
  background: #12a5d6;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.wpb_right-menus-3>ul>li:hover>a:after{
  width: 100%;
}
.wpb_right-menus-3 ul.wpb_main-nav-3 li ul li{
  margin-bottom: 14px;
}

.wpb_main-nav-3 li.overlay-menu {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 0;
  margin: 0 !important;
  opacity: 0;
  background-color: rgba(54, 71, 80, 0.64);
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.5) 100%);
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.5) 100%);
  background-image: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.5) 100%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.wpb_main-nav-3 li.has-menu:hover ~ li.overlay-menu {
  height: 100%;
  opacity: 1;
}
.wpb_logo-3 {
  float: left;
  position: relative;
  z-index: 10;
}
.wpb_main-nav-3 li {
  position: relative;
  z-index: 10;
  margin: 3px 36px;
}
.wpb_main-nav-3 li ul {
  float: left;
  clear: both;
  position: static;
  top: 100%;
  left: 0;
  width: 60px;
}
.wpb_main-nav-3 li ul {
  visibility: hidden;
  margin: 0;
  padding: 27px 0 34px 0;
}
.wpb_main-nav-3 li:hover ul {
  visibility: visible;
}
.wpb_main-nav-3 li ul li {
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
  transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  -webkit-transform: scale(1.1) translateY(-24px);
  transform: scale(1.1) translateY(-24px);
}
.wpb_main-nav-3 li:hover ul li {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.wpb_main-nav-3 li:hover ul li:nth-child(2) {
  -webkit-transition-delay: 300ms,300ms;
  transition-delay: 300ms,300ms;
}
.wpb_main-nav-3 li:hover ul li:nth-child(3) {
  -webkit-transition-delay: 350ms,350ms;
  transition-delay: 350ms,350ms;
}
.wpb_main-nav-3 li:hover ul li:nth-child(4) {
  -webkit-transition-delay: 400ms,400ms;
  transition-delay: 400ms,400ms;
}

.wpb_main-nav-3 li:hover ul li:nth-child(5) {
  -webkit-transition-delay: 450ms,450ms;
  transition-delay: 450ms,450ms;
}
.wpb_main-nav-3 li:hover ul li:nth-child(6) {
  -webkit-transition-delay: 500ms,500ms;
  transition-delay: 500ms,500ms;
}
.wpb_main-nav-3 li:hover ul li:nth-child(7) {
  -webkit-transition-delay: 550ms,550ms;
  transition-delay: 550ms,550ms;
}

.wpb_main-nav-3 li:hover ul li:nth-child(8) {
  -webkit-transition-delay: 600ms,600ms;
  transition-delay: 600ms,600ms;
}
.wpb_main-nav-3 li:hover ul li:nth-child(9) {
  -webkit-transition-delay: 650ms,650ms;
  transition-delay: 650ms,650ms;
}
.wpb_main-nav-3 li:hover ul li:nth-child(10) {
  -webkit-transition-delay: 700ms,700ms;
  transition-delay: 700ms,700ms;
}
.wpb_main-nav-3 li ul li a {
  color: #a9b1b6;
}
.wpb_main-nav-3 li ul li a:hover{
  color: #fff;
}
.wpb_lang-nav-3 {
  float: right;
  position: relative;
  z-index: 10;
  margin-left: 75px;
}
.wpb_lang-nav-3 li a {
  display: inline-block;
  padding: 5px;
  text-shadow: 2px 3px 2px rgba(0,0,0, 0.13);
}
.wpb_lang-nav-3 li.active a {
  border-bottom: 2px solid #12a5d6;
}
.wpb_top-menu-bar-3 .container {
  padding-top: 35px;
  padding-right: 27px;
  padding-left: 33px;
}
.wpb_main-nav-3 li.wpb_has-menu-3:hover ~ li.overlay-menu {
    height: 100%;
    opacity: 1;
}
@media screen and (max-width: 1023px) {
    .wpb_right-menus-3 ul.wpb_main-nav-3 li{
      margin-left: 30px;
    }
}
/*=====================================
=            Code For Menu            =
=====================================*/
#wpb_nav-icon3 {
  float: right;
  position: relative;
  width: 30px;
  height: 20px;
  margin-top: 18px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  display: none;
}
#wpb_nav-icon3 span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  border-radius: 0;
  opacity: 1;
  background: #fff;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px rgba(0,0,0, .3);

}
#wpb_nav-icon3 span:nth-child(1) {
  top: 0;
}

#wpb_nav-icon3 span:nth-child(2),
#wpb_nav-icon3 span:nth-child(3) {
  top: 9px;
}

#wpb_nav-icon3 span:nth-child(4) {
  top: 18px;
}

#wpb_nav-icon3.open span:nth-child(1) {
  top: 9px;
  left: 50%;
  width: 0;
}

#wpb_nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#wpb_nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#wpb_nav-icon3.open span:nth-child(4) {
  top: 9px;
  left: 50%;
  width: 0;
}
@media only screen and (max-width: 767px){
  #wpb_nav-icon3 {
    display: block;
  }
  .wpb_right-menus-3 {
      visibility: hidden;
      width: 100%;
      padding-bottom: 50px;
      opacity: 0;
  }
  .wpb_right-menus-3 ul, .wpb_right-menus-3 ul li a {
      display: block;
      float: none;
  }
  .wpb_right-menus-3 ul.wpb_main-nav-3 li {
      margin-left: 0;
      padding-bottom: 12px;
  }
  .wpb_main-nav-3 li ul {
      visibility: visible;
      float: none;
      width: 100%;
      padding: 0;
  }
  .wpb_main-nav-3 li ul li {
      opacity: 1;
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
  }
  .wpb_right-menus-3 ul.wpb_lang-nav-3 li:first-child{
      margin-right: 34px;
    }
    .wpb_lang-nav-3 li a.wpb_active-3{
      opacity: 1;
      visibility: visible;
    }
    .wpb_right-menus-3 {
      visibility: hidden;
      width: 100%;
      padding-bottom: 50px;
      opacity: 0;
    }

    .wpb_top-menu-bar-3:before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      height: 0;
      margin: 0 !important;
      opacity: 0;
      background-color: rgba(54, 71, 80, 0.8);
      background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.5) 100%);
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.5) 100%);
      background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 3%,rgba(0,0,0,0.5) 100%);
      content: "";
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    .wpb_top-menu-bar-3.wpb_full-menu-3:before {
      height: 100%;
      opacity: 1;
    }
    .wpb_top-menu-bar-3{
      overflow: hidden;
    }
    .wpb_main-nav-3 > li.wpb_has-menu-3>a:before {
        content: '+';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        background: none;
    }
    .wpb_main-nav-3 > li.wpb_has-menu-3>a.wpb_menu-open-3:before {
        content: '-';
        font-size: 30px;
        line-height: 13px;
    }
    .wpb_full-menu-3 .wpb_right-menus-3 {
      visibility: visible;
      opacity: 1;
    }
    .wpb_right-menus-3 ul li {
      display: block;
      float: none;
      margin-left: 0;
    }
    .wpb_right-menus-3 ul,
    .wpb_right-menus-3 ul li a {
      display: block;
      float: none;
    }
    .wpb_right-menus-3 ul.wpb_main-nav-3 li {
      margin-left: 0;
      padding-bottom: 12px;
    }
    .wpb_right-menus-3 ul.wpb_main-nav-3 li.wpb_has-menu-3{
      padding-bottom: 0;
    }
    .wpb_right-menus-3 ul.wpb_main-nav-3 li.wpb_has-menu-3>a{
      margin-bottom: 12px;
    }
    .wpb_main-nav-3 li ul {
      visibility: visible;
      float: none;
      width: 100%;
      padding: 0;
    }
    .wpb_main-nav-3:after{
      content: '';
      display: block;
      margin-top: 7px;
      margin-bottom: 21px;
      height: 2px;
      background: #11a5d5;
      width: 60px;
      position: relative;
    }
    .wpb_main-nav-3 li {
      margin: 0;
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
      transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
      transition: opacity 0.35s ease-out, transform 0.35s ease-out;
      transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
      -webkit-transform: scale(1.1) translateY(-24px);
      transform: scale(1.1) translateY(-24px);
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li,
    .wpb_full-menu-3 .wpb_lang-nav-3 {
      opacity: 1;
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
    }
    .wpb_lang-nav-3 {
      margin: 0;
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
      transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
      transition: opacity 0.35s ease-out, transform 0.35s ease-out;
      transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
      -webkit-transform: scale(1.1) translateY(-24px);
      transform: scale(1.1) translateY(-24px);
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(2) {
      -webkit-transition-delay: 300ms,300ms;
      transition-delay: 300ms,300ms;
    }
    .wpb_main-nav-3 > li>a{
      width: 110px;
      display: inline-block;
      position: relative;
      // display: inline-block;
      // margin-left: 10px;
    }
    .wpb_right-menus-3 ul li{
      font-size: 18px;
    }
    .wpb_full-menu-3 .wpb_right-menus-3{
      padding-left: 45px;
      padding-right: 34px;
    }
    .wpb_main-nav-3 li.has-menu:hover ~ li.overlay-menu{
      opacity: 0;
      visibility: hidden;
    }
    .wpb_main-nav-3 > li.has-menu>a:before{
      content: '+';
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      left: auto;
      background: none;
    }
    .wpb_main-nav-3 > li.has-menu>a.menu-open:before{
      content: '-';
      font-size: 30px;
      line-height: 13px;
    }
    .wpb_right-menus-3 ul li a:after{
      visibility: hidden;
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(3) {
      -webkit-transition-delay: 350ms,350ms;
      transition-delay: 350ms,350ms;
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(4) {
      -webkit-transition-delay: 400ms,400ms;
      transition-delay: 400ms,400ms;
    }

    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(5) {
      -webkit-transition-delay: 450ms,450ms;
      transition-delay: 450ms,450ms;
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(6) {
      -webkit-transition-delay: 500ms,500ms;
      transition-delay: 500ms,500ms;
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(7) {
      -webkit-transition-delay: 550ms,550ms;
      transition-delay: 550ms,550ms;
    }

    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(8) {
      -webkit-transition-delay: 600ms,600ms;
      transition-delay: 600ms,600ms;
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(9) {
      -webkit-transition-delay: 650ms,650ms;
      transition-delay: 650ms,650ms;
    }
    .wpb_full-menu-3 .wpb_main-nav-3 > li:nth-child(10) {
      -webkit-transition-delay: 700ms,700ms;
      transition-delay: 700ms,700ms;
    }
    .wpb_full-menu-3 .wpb_lang-nav-3 {
      -webkit-transition-delay: 750ms,750ms;
      transition-delay: 750ms,750ms;
    }
    .wpb_right-menus-3 ul.wpb_lang-nav-3 li {
      display: inline-block;
    }
    .wpb_right-menus-3 ul.wpb_main-nav-3 li a:not(.active):hover {
      border-bottom-color: transparent;
    }

    .wpb_main-nav-3 li ul li {
      opacity: 1;
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
    }
    .wpb_main-nav-3 li ul {
      display: none;
    }

}
/*= End of Header 3 ==============>>>>>*/
/*=============================================>>>>>
 = Header 4 =
===============================================>>>>>*/
.wpb_header-wrapper-4 .wpb_container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-right: 26px;
    padding-left: 26px;
}
.wpb_header-wrapper-4 .wpb_container:before {
    content: "";
}
.wpb_header-wrapper-4 .wpb_container:after {
    display: table;
    clear: both;
    content: "";
}
.wpb_logo-4 {
    float: left;
    margin-top: 8px;
    margin-left: 1px;
}
.wpb_top-menu-4 {
    float: right;
    margin: 0 -8px 0;
    padding: 0;
    list-style: none;
}
.wpb_top-menu-4 li {
    display: inline-block;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.1;
    vertical-align: top;
    list-style: none;
    margin-right: 4px;
    letter-spacing: 0.04em;
}
.wpb_top-menu-4 li:nth-child(2) ~ li{
    margin-right: -8px;
}
.wpb_top-menu-4 li a {
    display: inline-block;
    position: relative;
    padding: 4px 9px;
    color: #1b1b1b;
    text-decoration: none;
}
.wpb_top-menu-4 li a:not(.wpb_page-link-4) {
    padding-right: 14px;
    padding-left: 20px;
}
.wpb_top-menu-4 li a.wpb_page-link-4:before {
    position: absolute;
    left: 0;
    font-family: FontAwesome;
    content: "";
    content: "\f105";
}
.wpb_top-menu-4 li a.wpb_search-link-4:before {
    position: absolute;
    left: 0;
    width: 11px;
    height: 11px;
    background: url(../img/wpb_search_icon-4.png) no-repeat 0 0;
    background-size: 11px 11px;
    font-family: FontAwesome;
    content: "";
}
.wpb_top-menu-4 li a.wpb_login-link-4:before {
    position: absolute;
    left: 2px;
    width: 11px;
    height: 11px;
    background: url(../img/wpb_user_icon-4.png) no-repeat 0 0;
    background-size: 11px 11px;
    font-family: FontAwesome;
    content: "";
}
.wpb_main-menu-4 {
    float: right;
    clear: both;
    margin: 0;
    font-size: 0;
    padding: 4px 0 0;
    margin-right: -13px;
}
.wpb_main-menu-4 > li {
    display: inline-block;
    position: relative;
    background: url(../img/wpb_separator-4.png) no-repeat 0 bottom;
    font: normal 15px "Source Sans Pro", Arial, Helvetica, sans-serif;
    line-height: 1.1;
}
.wpb_main-menu-4 > li.wpb_active-4>a, .wpb_main-menu-4 > li>a:hover{
    color: #9b3888;
}
.wpb_main-menu-4 > li .wpb_dropdown-4 {
    visibility: hidden;
    position: absolute;
    z-index: 1001;
    top: 100%;
    left: 22px;
    width: 680px;
    padding-top: 34px;
    padding-bottom: 34px;
}

.wpb_main-menu-4 > li .wpb_dropdown-4:before {
    position: absolute;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 0;
    background: #f3f3f3;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.35);
    content: "";
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.wpb_main-menu-4 > li .wpb_dropdown-4:after {
    display: table;
    clear: both;
    content: "";
}
.wpb_main-menu-4 > li .wpb_dropdown-4 ul {
    visibility: hidden;
    position: relative;
    z-index: 1;
    transition-delay: 0.2s;
    padding: 0;
}
.wpb_girl-img-section-4 {
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 0;
    width: 354px;
}
.wpb_girl-img-section-4 img {
    float: left;
    margin-bottom: -6px;
}
.wpb_some-des-4 {
    overflow: hidden;
    padding-top: 45px;
}
.wpb_some-des-4 h3 {
    margin: 0 0 20px 0;
    color: #1b1b1b;
    font-family: "latosemibold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.wpb_reg-btn-4 {
    display: block;
    width: 100%;
    padding: 9px !important;
    border-radius: 3px;
    color: #fff !important;
    background: #c5004b;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-align: center;
    text-decoration: none;
}
.wpb_reg-btn-4:before {
    display: none !important;
}
.wpb_main-menu-4 > li .wpb_dropdown-4 .wpb_girl-img-section-4 {
    visibility: hidden;
    transition-delay: 0.2s;
}
.wpb_main-menu-4 > li:hover .wpb_dropdown-4 .wpb_girl-img-section-4 {
    visibility: visible;
}
.wpb_main-menu-4 li a {
    display: inline-block;
    padding-top: 7px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 27px;
    color: #6f6f6f;
    text-decoration: none;
}
.wpb_main-menu-4 > li > a:before {
    display: none;
}
.wpb_main-menu-4 li:first-child {
    background: none;
}
.wpb_header-wrapper-4 {
    padding-top: 10px;
}
.wpb_main-menu-4 > li .wpb_dropdown-4 li a {
    padding: 10px 15px;
}
.wpb_menu-btn-4{
    width: 19px;
    height: 14px;
    background: none;
    float: right;
    border: 0;
    padding: 0;
    margin-top: 16px;
    margin-right: 0px;
    display: none;
}
.wpb_menu-btn-4 .wpb_menu-line-4, .wpb_menu-btn-4:after, .wpb_menu-btn-4:before{
    content: '';
    display: block;
    width: 100%;
    margin-top: 4px;
    height: 2px;
    background: #6f6f6f;
}
.wpb_menu-btn-4:before{
    margin-top: 0;
}
body{
      overflow-x: hidden;
}
@media screen and (max-width: 1000px){
  .wpb_main-menu-4 li a {
      padding: 9px;
  }
  .wpb_main-menu-4 > li {
      background: none;
      font-size: 14px;
  }

}
@media screen and (min-width: 768px) {
    .wpb_main-menu-4{
        display: block !important;
    }
    .wpb_main-menu-4 > li:hover .wpb_dropdown-4 {
        visibility: visible;
    }
    .wpb_main-menu-4 > li .wpb_dropdown-4{
        display: block !important;
    }
    .wpb_main-menu-4 > li:hover .wpb_dropdown-4:before {
        height: 100%;
    }
    .wpb_main-menu-4 > li:hover .wpb_dropdown-4 ul {
        visibility: visible;
    }
}
@media screen and (max-width: 767px) {
    .wpb_header-wrapper-4{
        position: relative;
    }
    .wpb_main-menu-4>ul> li{
        display: block;
    }
    .wpb_main-menu-4{
        position: absolute;
        top: 100%;
        margin-right: 0;
        left: 0;
        z-index: 1001;
        background: #f3f3f3;
        width: 100%;
        padding-top: 31px;
        display: none;
    }
    .wpb_main-menu-4>ul{
        padding-bottom: 39px;
    }
    .wpb_main-menu-4>ul> li{
        font-size: 17.5px;
        color: #6f6f6f;
        margin-bottom: 11px;
    }
    .wpb_main-menu-4 li a{
        width: 100%;
        display: block;
        padding-left: 65px;
    }
    .wpb_top-menu-4>li>a:not(.wpb_page-link-4){
        padding-left: 75px;
    }
    .wpb_top-menu-4 li:nth-child(2) ~ li{
        margin-right: 0;
    }
    .wpb_main-menu-4 ul li ul a::before{
        content: "\f105";
        display: block !important;
        position: absolute;
        left: 51px;
        font-family: FontAwesome;
        top: 11px;
    }
    .wpb_logo-4{
        margin-top: 6px;
        margin-left: 0;
    }
    .wpb_menu-btn-4{
        display: block;
    }
    .wpb_top-menu-4{
      display: none;
    }
    .wpb_main-menu-4 > li{
      display: block;
    }
    .wpb_main-menu-4 li a::before {
        content: "\f105";
        display: block !important;
        position: absolute;
        left: 50px;
        font-family: FontAwesome;
    }
    .wpb_main-menu-4 > li {
        font-size: 17.5px;
        color: #6f6f6f;
        margin-bottom: 11px;
    }
    .wpb_girl-img-section-4{
      display: none;
    }
    .wpb_main-menu-4 > li .wpb_dropdown-4{
      position: relative;
      visibility: visible;
      display: block;
      padding: 0 0 0 45px;
    }
    .wpb_main-menu-4 > li .wpb_dropdown-4:before{
      box-shadow: none;
    }
    .wpb_main-menu-4 > li .wpb_dropdown-4 ul{
      visibility: visible;
      display: none;
    }
    .wpb_main-menu-4 ul li a::before {
      left: 0;
    }
    .wpb_main-menu-4 ul{
      padding-left: 70px;
    }
    .wpb_main-menu-4 > li .wpb_dropdown-4 li a{
      font-size: 14px;
    }
}
/*= End of Header 4 ==============>>>>>*/

/*=============================================>>>>>
 = Header 5 =
===============================================>>>>>*/
.wpb_topbar-5{
    background: #262626;
    padding: 3px;
}
.wpb_container:after{
    content: '';
    display: table;
    clear: both;
}
.wpb_disc-hd-5{
    float: left;
    font: italic 14px 'Droid Serif', Arial, Helvetica, sans-serif;
    color: #fff;
    padding-right: 8px;
    position: relative;
    letter-spacing: 0.02em;
}
.wpb_disc-hd-5:after{
    content: '›';
    font-weight: normal;
    font-family: 'Open Sans';
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.2;
}
.wpb_top-menu-5{
    float: left;
    padding: 0px 0 0 14px;
    margin: 1px 0 2px;
}
.wpb_top-menu-5 li{
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    float: left;
    letter-spacing: 0.05em;
}
.wpb_top-menu-5 li + li{
    margin-left: 15px;
}
.wpb_top-menu-5 li a{
    color: #c0b6ac;
    text-decoration: none;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.wpb_top-menu-5 li.current-menu-item a, .wpb_top-menu-5 li.current_page_item a{
    color: #fff;
}
.wpb_right-tab-5{
    float: right;
    width: 36px;
    position: relative;
}
.wpb_right-tab-5>span{
    font: 700 11px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    padding: 3px 0px;
    display: block;
    background: url(../img/wpb_down_arrow-5.svg) no-repeat right 2px center;
    cursor: pointer;
}
.wpb_right-tab-5  ul{
    background: #666;
    width: 60px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    z-index: 12;
    padding-left: 0;
}
.wpb_right-tab-5  ul li a{
    font: 700 11px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    padding: 5px;
    display: block;
}
.wpb_headerWrapper-5>.wpb_container{
    padding: 14px 20px 16px;
}
.wpb_headerWrapper-5{
    background: #fff;
    position: relative;
}
.wpb_logo-5{
    float: left;
    margin-left: -2px;
}
.wpb_right-menu-section-5{
    float: right;
}
.wpb_mainMenu-5{
    float: left;
    margin-top: 5px;
    padding-left: 0;
}
.wpb_mainMenu-5 li{
    float: left;
    font: 400 16px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
.wpb_mainMenu-5 li a{
    color: #666666;
    text-decoration: none;
}
.wpb_mainMenu-5 li.current-menu-item a, .wpb_mainMenu-5 li.current_page_item a{
    color: #000;
    font-weight: 700;
}
.wpb_mainMenu-5 li + li{
    margin-left: 36px;
}
.wpb_searchForm-5{
    float: left;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 39px;
    margin-top: 3px;
}
.wpb_searchForm-5 button[type="submit"]{
    width: 20px;
    height: 20px;
    background: none;
    float: left;
    border:0;
    padding: 0;
    border-radius: 0;
    text-indent: 100%;
    display: block;
    white-space: normal;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: url(../img/wpb_search_icon-5.svg) no-repeat center center;
}
.wpb_searchForm-5 input[type="search"]{
    width: 330px;
    position: absolute;
    top: -5px;
    right: 100%;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    border:1px solid #b2b2b2;
    width: 0;
    padding: 0;
    border: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.wpb_searchForm-5 input[type="search"]:focus{
    outline: none;
}
.wpb_searchForm-5.in input[type="search"]{
    width: 330px;
    border:1px solid #b2b2b2;
    padding: 0 5px;
}
.wpb_log-in-btn-5{
    width: 98px;
    height: 25px;
    display: block;
    float: left;
    position: relative;
    padding: 7px 6px 6px 25px;
    position: relative;
    background-color: #f2f2f2;
    margin-left: 30px;
    font: 400 14px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 12px;
    color: #666;
    background-image: url(../img/wpb_user_icon-5.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
}
.wpb_log-in-btn-5:hover{
  text-decoration: none;
}
.wpb_topbar-5:after{
  content: '';
  display: table;
  clear: both;
}
.wpb_right-menu-section-5 .wpb_top-menu-5, .wpb_right-menu-section-5 .wpb_right-tab-5 {
    display: none;
}
.wpb_headerWrapper-5:after{
  content: '';
  display: table;
  clear: both;
}
.wpb_searchForm-5{
    float: left;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 39px;
    margin-top: 3px;
}
.searchForm input[type="search"] {
    width: 330px;
    position: absolute;
    top: -5px;
    right: 100%;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #b2b2b2;
    width: 0;
    padding: 0;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.wpb_menu-action-5{
    float: right;
    display: none;
}
.wpb_menu-action-5 .wpb_searchForm-5 {
    margin-left: 0;
    margin-top: 0;
}
.wpb_menu-btn-5 {
    width: 21px;
    height: 20px;
    float: right;
    cursor: pointer;
    margin-left: 16px;
}
.wpb_menu-btn-5:after, .wpb_menu-btn-5:before, .wpb_menu-btn-5 .wpb_line-5 {
    width: 100%;
    height: 2px;
    background: #b2b2b2;
    display: block;
    content: '';
}
.wpb_menu-btn-5:after, .wpb_menu-btn-5 .wpb_line-5 {
    margin-top: 6px;
}
@media only screen and (min-width: 992px){
  .wpb_right-menu-section-5{
    display: block important;
  }
}
@media only screen and (max-width: 991px){
  .wpb_topbar-5 {
      display: none;
  }
  .wpb_right-menu-section-5 {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      width: 100%;
      padding: 20px 10px;
      z-index: 12;
      border-top: 1px solid #ccc;
  }
  .wpb_right-menu-section-5 .wpb_top-menu-5, .wpb_right-menu-section-5 .wpb_right-tab-5 {
      display: block;
  }
  .wpb_right-menu-section-5 .wpb_top-menu-5{
      width: 100%;
  }
  .wpb_top-menu-5 li.current-menu-item a, .wpb_top-menu-5 li.current_page_item a {
      color: #000;
  }
  .wpb_top-menu-5 {
    padding-left: 0;
  }
  .wpb_top-menu-5 li {
      float: none;
  }
  .wpb_top-menu-5 li + li{
    margin: 0;
  }
  .wpb_top-menu-5 li a {
      color: #666666;
      display: block;
      padding: 10px 5px;
  }
  .wpb_mainMenu-5 {
    width: 100%;
  }
  .wpb_mainMenu-5 li {
      float: none;
  }
  .wpb_mainMenu-5 li a {
      display: block;
      width: 100%;
      padding: 10px 5px;
  }
  .wpb_log-in-btn-5 {
      margin-left: 0;
      float: right;
  }
  .wpb_menu-action-5{
    display: block;
  }
  .wpb_mainMenu-5 li + li{
    margin-left: 0;
  }
  .wpb_right-menu-section-5 .wpb_searchForm-5 {
      display: none;
  }
  .wpb_right-tab-5>span {
    color: #333;
  }
  .wpb_right-tab-5 ul {
      left: 0;
      right: auto;
  }
  .wpb_right-tab-5 ul li a {
      font: 700 11px 'Open Sans', Arial, Helvetica, sans-serif;
      line-height: 1.1;
      color: #fff;
      padding: 5px;
      display: block;
  }
  .wpb_right-tab-5 {
      float: left;
      margin-left: 6px;
  }
}
@media only screen and (min-width: 768px){
  .desktop-hide{
    display: none;
  }
}
@media only screen and (max-width: 767px){
  .wpb_disc-hd-5 {
      font-size: 13px;
      color: #666;
      line-height: 15.6px;
      clear: left;
      margin-top: 3px;
      margin-bottom: -12px;
      margin-left: -2px;
      letter-spacing: 0.03em;
  }
  .wpb_logo-5 img {
      width: 223px;
  }
  .wpb_headerWrapper-5>.wpb_container{
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*= End of Header 5 ==============>>>>>*/
/*=============================================>>>>>
 = Header 6 =
===============================================>>>>>*/

.wpb_top-nav-6 {
    float: right;
    font-size: 0;
    padding-right: 10px;
    padding-left: 0;
}

.wpb_top-nav-6  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.wpb_top-nav-6 li + li{
    margin: 0 0 0 30px;
}

.wpb_top-nav-6 li a {
    color: #96aab8;
    text-decoration: none;
}

.wpb_top-nav-6 li a span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 9px 0 0;
    position: relative;
    top: -1px;
    line-height: 14px;
}

.wpb_top-nav-6 li a span img {
    vertical-align: middle;
}

.wpb_header-6 {
    background-color: #fff;
    padding: 7px 0 0;
    position: relative;
    z-index: 1000;
}

.wpb_header-home-6 {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.wpb_header-home-6:before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("img/bg-header.png") no-repeat 0 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 135%;
}

.wpb_header-home-6 .lines {
    background-color: #fff;
}

.wpb_header-home-6 .lines:before,
.wpb_header-home-6 .lines:after {
    background: #fff;
}
.wpb_header-top-sec-6{
  padding-bottom: 1px;
}

/**
 * main navigation
 */

a.wpb_join-btn-6 {
    float: right;
    color: #fff;
    background-color: #112b36;
    font-size: 16px;
    line-height: 20px;
    padding: 11.5px 11px;
    text-decoration: none;
    border-radius: 2px;
    width: 189px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 0;
}

.wpb_join-btn-6:hover {
    text-decoration: none;
    color: #fff;
}

.wpb_main-nav-6 {
    float: right;
    margin: 0;
    padding: 22px 0 0 0;
}

.wpb_main-nav-6>ul {
    float: right;
    margin: 1px 4px 0 0;
    padding: 0;
}

.wpb_main-nav-6>ul>li {
    display: inline-block;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -0.005em;
}

.wpb_main-nav-6>ul>li>a {
    text-decoration: none;
    color: #112b36;
    padding: 5px 20px 36px;
    position: relative;
    display: inline-block;
}
.wpb_main-nav-6>ul>li>a:after{
  content: '';
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: #a30023;
  opacity: 0;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
.wpb_main-nav-6>ul>li>ul{
  width: 300px;
  padding: 29px 24px;
  background: #a30023;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  visibility: hidden;
}
.wpb_main-nav-6>ul>li>ul>li{
  font: normal 16px 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.375;
  color: #ffffff;
  text-transform: none;
}
.wpb_main-nav-6>ul>li>ul>li>a{
  color: #fff;
  padding: 5px 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.wpb_main-nav-6 a:hover{
  text-decoration: none;
}
.wpb_main-nav-6>ul>li>ul>li>a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #fff;
  width: 100%;
  opacity: 0;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
.wpb_main-nav-6>ul>li>ul>li.active>a{
  opacity: 1;
}
.wpb_header-wrapper-6{
  border-bottom: 1px solid #ebebeb;
  padding-top: 7px;
}

.wpb_main-nav-6>ul>li.current-menu-item>a,
.wpb_main-nav-6>ul>li.current-menu-ancestor>a,
.wpb_main-nav-6>ul>li.active>a {
    color: #000;
    background-color: #fff;
}

.wpb_main-nav-6>ul>li.current-menu-item>a:before,
.wpb_main-nav-6>ul>li.current-menu-ancestor>a:before,
.wpb_main-nav-6>ul>li.active>a:before {
    display: none;
}
.wpb_logo-hd-6{
  float: left;
  margin-top: 0;
}
.wpb_main-nav-6>ul>li:hover>a:after, .wpb_main-nav-6>ul>li>ul>li>a:hover:after {
    opacity: 1;
}
.wpb_main-nav-6>ul>li:hover>ul {
    opacity: 1;
}
.wpb_main-nav-6>ul>li:hover>ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 1259px) {
    .wpb_main-nav-6>ul>li>a{
      padding: 5px 15px 40px;
    }
}
@media screen and (max-width: 1200px){
    .wpb_main-nav-6>ul>li>a{
      padding: 5px 4px 40px;
    }
    a.wpb_join-btn-6{
      width: 160px;
    }
    .wpb_main-nav-6>ul>li,a.wpb_join-btn-6{
      font-size: 15px;
    }

}
@media screen and (max-width: 991px) and (min-width: 768px) {
    h1.wpb_logo-hd-6{
      width: 100%;
      display: block;
      text-align: center;
    }
    .wpb_main-nav-6>ul>li>a{
      padding-left: 10px;
      padding-right: 11px;
    }
}

@media screen and (min-width: 1025px) {
  .wpb_main-nav-6>ul>li>ul{
    display: block !important;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
  }
}
@media screen and (max-width: 1024px) {
  .wpb_main-nav-6>ul>li>ul{
    visibility: visible;
    opacity: 1;
    display: none;
    left: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
    a.wpb_join-btn-6{
      float: none;
      display: inline-block;
    }
    .wpb_main-nav-6>ul{
      float: none;
      margin: 0;
    }
    .wpb_main-nav-6>ul>li{
      width: 100%;
      display: inline-block;
    }
    .wpb_main-nav-6{
      float: none;
      clear: both;
      padding-top: 0;
    }
    .wpb_main-nav-6>ul>li>a{
      padding: 12px;
      width: 100%;
    }
    a.wpb_join-btn-6{
      width: 100%;
    }
    .wpb_main-nav-6>ul>li>ul {
        position: static;
        margin-left: 0;
        opacity: 1;
        visibility: visible;
        width: 100%;
        padding: 12px;
        display: none;
    }
    .navbar-collapse.in{
      overflow: visible;
    }
    .wpb_top-nav-6{
      position: absolute;
      top: 21px;
      right: 45px;
    }
    .wpb_logo-hd-6 img{
      width: 155px;
    }
    .wpb_header-wrapper-6{
      padding-bottom: 8px;
      padding-top: 6px;
    }
    .wpb_navbar-toggle-6 {
        padding: 9px 9px;
        margin-right: -10px;
        margin-top: 2px;
    }
    .wpb_top-nav-6 li a{
      font-size: 0;
      line-height: 0;
    }
    .wpb_top-nav-6  li{
      text-align: center;
      position: relative;
    }
    .wpb_top-nav-6 li a span{
      padding-right: 0;
    }
    .wpb_top-nav-6 li + li{
      margin-left: 21px;
    }
    .wpb_top-nav-6 li a span img[src*="star"]{
      width: 20px;
    }
    .wpb_top-nav-6 li a span img[src*="lock"]{
      width: 16px;
    }
    .wpb_top-nav-6 li a span.noti-no{
      width: 14px;
      height: 14px;
      background: #a30023;
      font: normal 11px 'Roboto', Arial, Helvetica, sans-serif;
      line-height: 14px;
      color: #fff;
      position: absolute;
      top: 0;
      right: -7px;
      border-radius: 50%;
    }
    .navbar-toggle {
        padding: 9px 9px;
        margin-right: -10px;
        margin-top: 2px;
    }
    .navbar-toggle .icon-bar {
        background: #112b36;
        width: 18px;
    }
    .wpb_top-nav-6 li a span.wpb_noti-no-6 {
        width: 14px;
        height: 14px;
        background: #a30023;
        font: normal 11px 'Roboto', Arial, Helvetica, sans-serif;
        line-height: 14px;
        color: #fff;
        position: absolute;
        top: 0;
        right: -7px;
        border-radius: 50%;
        padding-right: 0;
    }
}

/*= End of Header 6 ==============>>>>>*/