/*=============================================>>>>>
 = thubnail-1 style =
===============================================>>>>>*/
.wpb_thumbnail-1{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    clear: both;
    list-style: none;
    padding: 0;
}
.wpb_thumbnail-1 li{
    width: 33.3334%;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.wpb_thumbnail-list-1{
    padding: 0;
}
.wpb_thumbnail-1 li img{
    width: 100%;
    vertical-align: bottom;
}
.wpb_thumbnail-1 li a{
    display: block;
    width: 100%;
    height: 100%;
}
.wpb_thumbnail-1 li a .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 36px;
}
.wpb_thumbnail-1 li h4{
    position: absolute;
    bottom: 36px;
    left: 36px;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
}
.overlay p{
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);


}
.wpb_overlay{
    transition-delay: 0.2s;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    transition: all 100ms ease-out;

}
.wpb_thumbnail-list-1 li a:hover .overlay p{
    visibility: visible;
    opacity: 1;    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.wpb_thumbnail-list-1 li:nth-child(6n+1) a .overlay{
    background: rgba(156,175,173, 0);
}
.wpb_thumbnail-list-1 li:nth-child(6n+2) a .overlay{
    background: rgba(220,194,181, 0);
}
.wpb_thumbnail-list-1 li:nth-child(6n+3) a .overlay{
    background: rgba(121,152,172, 0);
}
.wpb_thumbnail-list-1 li:nth-child(6n+4) a .overlay{
    background: rgba(183,173,164, 0);
}
.wpb_thumbnail-list-1 li:nth-child(6n+5) a .overlay{
    background: rgba(83,88,90, 0);
}
.wpb_thumbnail-list-1 li:nth-child(6n+6) a .overlay{
    background: rgba(220,216,214, 0);
}
.wpb_thumbnail-list-1 li:nth-child(6n+1) a:hover .overlay{
    background: rgba(156,175,173, .85);
}
.wpb_thumbnail-list-1 li:nth-child(6n+2) a:hover .overlay{
    background: rgba(220,194,181, .85);
}
.wpb_thumbnail-list-1 li:nth-child(6n+3) a:hover .overlay{
    background: rgba(121,152,172, .85);
}
.wpb_thumbnail-list-1 li:nth-child(6n+4) a:hover .overlay{
    background: rgba(183,173,164, .85);
}
.wpb_thumbnail-list-1 li:nth-child(6n+5) a:hover .overlay{
    background: rgba(83,88,90, .85);
}
.wpb_thumbnail-list-1 li:nth-child(6n+6) a:hover .overlay{
    background: rgba(220,216,214, .85);
}
.wpb_thumbnail-list-1:after{
    content: '';
    display: table;
    clear: both;
}
@media screen and (max-width: 991px) {
    .wpb_thumbnail-1 li a .overlay{
        padding:10px;
    }
    .wpb_thumbnail-1 li h4{
        left: 10px;
    }
}
@media screen and (max-width: 767px){
    .wpb_thumbnail-1 li {
        width: 50%;
    }
}
@media screen and (max-width: 479px){
    .wpb_thumbnail-1 li {
        width: 100%;
    }
}
/*= End of thubnail-1 style ==============>>>>>*/

.wpb_thumbnail-2 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    clear: both;
    padding: 60px 0;
}
.wpb_thumbnail_list-2 {
    padding: 0;
}
.wpb_thumbnail-2 li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 10px;
}
.wpb_thumbnail-2 li h4 {
    font-size: 2rem;
    margin: 5px 0 0;
}
.wpb_thumbnail-2 .prices {
    font-size: 2rem;
    margin: 0 0 5px;
}
.wpb_thumbnail-2 .previous_price {
    font-size: 16px;
    display: block;
    color: #9cafad;
}
.wpb_thumbnail-2 .find_more {
    font-size: 2rem;
    color: #9cafad;
    text-decoration: none;
}
.wpb_thumbnail-2 li:nth-child(2) .find_more, .wpb_thumbnail-2 li:nth-child(2) .previous_price {
    color: #7998ac;
}
.wpb_thumbnail-2 li:nth-child(3) .find_more, .wpb_thumbnail-2 li:nth-child(3) .previous_price {
    color: #dcc2b5;
}
.wpb_thumbnail-2 li:nth-child(4) .find_more, .wpb_thumbnail-2 li:nth-child(4) .previous_price {
    color: #b7ada4;
}
.wpb_thumbnail-2 li:nth-child(2) .tag {
    background: #7998ac;
}
.wpb_thumbnail-2 li:nth-child(3) .tag {
    background: #dcc2b5;
}
.wpb_thumbnail-2 li:nth-child(4) .tag {
    background: #b7ada4;
}
.wpb_thumbnail-2 li .img_wraper {
    display: inline-block;
    position: relative;
    min-height: 390px;
    line-height: 390px;
}
.wpb_thumbnail-2 li .img_wraper img {
    max-width: 100%;
}
.wpb_thumbnail-2 .tag {
    width: 111px;
    height: 111px;
    border-radius: 100%;
    background: #9cafad;
    text-align: center;
    position: absolute;
    top: 30px;
    right: -30px;
    display: table;
    vertical-align: middle;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.wpb_thumbnail-2 li:hover .tag {
    width: 125px;
    height: 125px;
    top: 23px;
    right: -37px;
}
.wpb_thumbnail-2 .tag span {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    line-height: 1;
    padding: 0 20px;
    width: 111px;
    height: 111px;
}
@media screen and (max-width:1300px) {
    .wpb_thumbnail-2 .tag {
        right: 0;
    }
    .wpb_thumbnail-2 li:hover .tag {
        width: 111px;
        height: 111px;
        right: 0;
    }
}
@media screen and (max-width:767px) {
    .wpb_thumbnail-2 li {
        width: 50%;
    }
    .wpb_thumbnail-2 li h4,.wpb_thumbnail-2 .prices,.wpb_thumbnail-2 .find_more{
    font-size: 1.6rem;
    }
}

.wpb_constultenWrapper {
    background: #f2f0ec;
    padding: 53px 0 46px 0;
}
.wpb_constultenWrapper h3 {
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 24px;
    color: #000e3c;
    opacity: 0.45;
    margin: 0 0 34px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.13em;
}
.wpb_slide {
    width: 100%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.wpb_thumbnail {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 2px solid #cdcdcf;
}
.wpb_thumbnail img {
    width: 100%;
}
.wpb_thumbnailTxt {
    padding: 17px;
}
.wpb_thumbnailTxt .hdst2 {
    font-weight: normal;
    color: #df4660;
    margin: 0 0 23px;
    opacity: 1;
    text-align: left;
}
.wpb_thumbnail p {
    margin: 0 0 38px 0;
}
.wpb_morebtn {
    font: normal 15px Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #0033a0;
    text-decoration: none;
    float: right;
    padding-right: 29px;
    background: url(../img/wpb_thumbnail_arrow.png) no-repeat right 4px center;
    background-size: auto 13px;
    letter-spacing: 0.01em;
}
.wpb_slideWrapper .owl-dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    border: 2px solid #f4f2ed;
    background: #0033a0;
    margin: 0 16px;
}
.wpb_slideWrapper .owl-dots{
    text-align: center;
    margin-top: 20px;
}
.wpb_slideWrapper .owl-dot.active{
    background: none;
    border-color: #df4660;
}

/*=============================================>>>>>
 = Thumbnail-4 =
===============================================>>>>>*/

.wpb_thumbnail-wrapper{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}
.wpb_thumbnail-section{
    padding: 60px;
    border-radius: 4px;
    background: #fff;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0 2px 10px 0 rgba( 1, 1, 1, 0.1 );
}
.wpb_thumbnail-section ~ .wpb_thumbnail-section{
    margin-top: 20px;
}
.wpb_thumbnail-section h2 {
    color: #0080bb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 0 30px 0;
}
.wpb_thumbnail-section h2 a {
    color: #0080bb;
    text-decoration: none;
}
.wpb_thumbnail-info {
    margin-bottom: 43px;
    font: 400 14px Arial, Helvetica, sans-serif;
    line-height: 1.1;
}
.wpb_thumbnail-img {
    margin-bottom: 27px;
}
.wpb_thumbnail-img img {
    width: 100%;
}
.wpb_thumbnail-detail p {
    margin-top: 0;
    margin-bottom: 48px;
    color: #404040;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.wpb_thumbnail-comment {
    float: left;
    margin-top: 14px;
    color: #909090;
    line-height: 1.5;
}
.wpb_thumbnail-comment  .fa {
    margin-right: 10px;
}
.wpb_more-btn-2 {
    float: right;
    position: relative;
    padding: 12px 39px 12px 20px;
    border-radius: 2px;
    color: #fff;
    background: #0080bb;
    font: 400 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.wpb_more-btn-2 .fa {
    position: absolute;
    top: 13px;
    right: 19px;
    font-size: 18px;
}
.wpb_author{
    float: left;
  position: relative;
  padding-left: 23px;
  color: #59acd3;
  text-decoration: none;
}
.wpb_author .fa {
    position: absolute;
    top: 0;
    left: 0;
    color: #404040;
}
.wpb_date {
    float: right;
    position: relative;
    padding-left: 23px;
    color: #909090;
}
.wpb_date .fa {
    position: absolute;
    top: 0;
    left: 0;
    color: #404040;
}
@media screen and (max-width: 767px) {
    .wpb_thumbnail-section{
        padding: 30px 15px;
    }
}
  
/*= End of Thumbnail-4 ==============>>>>>*/

/*=============================================>>>>>
 = Thubnails-5 =
===============================================>>>>>*/

.wpb_service-section {
    padding-top: 107px;
    padding-bottom: 118px;
    background: #9ac2ea;
    text-align: center;
    position: relative;
}
.wpb_service-section .wpb_container {
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.wpb_service-section h2 {
    text-align: center;
    margin-bottom: 62px;
    font: 700 48px 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #003563;
    text-transform: uppercase;
}
.wpb_service-section h2 a {
    color: inherit;
    text-decoration: none;
}
.wpb_service-section h3 {
    color: #003563;
    margin: 0 0 24px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
}
.wpb_service-section h4 {
    font: 600 24px 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #003563;
    margin: 0 0 23px;
    min-height: 90px;
}
.wpb_service-section p {
    margin: 0 0 55px;
    font: 400 24px 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    min-height: 150px;
    color: #003563;
}
.wpb_get-start-btn {
    background-color: rgb( 255, 218, 96 );
    width: 192px;
    height: 50px;
    text-align: center;
    display: block;
    padding: 9px;
    font: 700 18px 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #003563;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.727;
}
.wpb_img-box {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    margin: 0 auto 23px;
    /* background: #fff; */
    line-height: 116px;
}
.wpb_service-section h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #ffda60;
    margin: 25px auto 0;
}
.wpb_row{
    margin-left: -15px;
    margin-right: -15px;
}
.wpb_row:after{
    content: '';
    display: table;
    clear: both;
}
.wpb_col-md-4{
    float: left;
    width: 33.33%;
    padding: 0 15px;
}
@media screen and (max-width: 767px) {
    .wpb_col-md-4{
        width: 100%;
    }
    .wpb_service-section h4 {
        margin-bottom: 10px;
        font-size: 18px;
        min-height: inherit;
    }
    .wpb_service-section p {
        margin-bottom: 20px;
        font-size: 18px;
        min-height: inherit;
    }
    .wpb_service-section .wpb_col-md-4 + .wpb_col-md-4{
        margin-top: 40px;
    }
}
  
/*= End of hero-container ==============>>>>>*/

.wpb_posts-section-2 {
    padding: 62px 32px 69px;
}
.wpb_posts-section-2 .wpb_row {
    margin-right: -12px;
    margin-left: -12px;
}
.wpb_posts-section-2 .wpb_row:after{
    content: '';
    display: table;
    clear: both;
}
.wpb_posts-section-2 .wpb_col-md-4 {
    padding-right: 12px;
    padding-left: 12px;
    width: 33.333%;
    float: left;
}
.wpb_posts-section-2 .wpb_post {
    border: 1px solid #c9cdd1;
    border-radius: 3px;
}
.wpb_post img{
    width: 100%;
    display: block;
}
.wpb_posts-section-2 .wpb_post-detail {
    padding: 15px 27px 13px;
}
.wpb_post-detail .wpb_date-6 {
    display: block;
    margin-bottom: 5px;
    color: #b9bbbc;
    font: bold 14px  Arial, Helvetica, sans-serif;
}
.wpb_post-detail h2 {
    overflow: hidden;
    height: 74px;
    letter-spacing: 0.01em;
    margin-bottom: 6px;
    font-weight: bold;
}
.wpb_post-detail h2 a, .wpb_post-detail .h2 a {
    color: #262f31;
    text-decoration: none;
}
.wpb_read-more {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    color: #c5004b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
}
.wpb_read-more:after{
    content: '\2192';
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 17px;
}
@media screen and (max-width: 767px) {
    .wpb_posts-section-2 .wpb_col-md-4 {
            width: 100%;
        }
    .wpb_posts-section-2 .wpb_col-md-4 +  .wpb_col-md-4{
        margin-top: 20px;
    }
}

/*=============================================>>>>>
 = Thumbnail-7 =
===============================================>>>>>*/

.wpb_topic-box {
    padding-top: 30px;
    padding-bottom: 57px;
    border-bottom: 1px solid #983c8c;
}
.wpb_topic-box:after {
    content: '';
    display: table;
    clear: both;
}
.wpb_topic-img-section {
    float: right;
    margin-top: 83px;
    width: 222px;
    min-height: 139px;
    background: url(../img/image-pattern.png) repeat 0 0;

}
.wpb_topic-content {
    overflow: hidden;
    padding-right: 15px;
}
.wpb_topic-content .wpb_tag {
    padding: 5px 7px;
    font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #606566;
    display: inline-block;
    background: #eee;
    border-radius: 3px;
    vertical-align: top;
}
.wpb_topic-content .wpb_date {
    display: block;
    font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #aaa;
    margin: 20px 0 10px;
}
.wpb_topic-box  h2 {
    margin: 0 0 23px 0;
    color: #262f31;
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 24px;
}
.wpb_thumbnails-7-wrapper{
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
}
.wpb_topic-box{
    padding-left: 10px;
    padding-right: 10px;
}
.wpb_topic-content p a {
    font-style: italic;
    color: #aaa;
    text-decoration: underline;
}
@media screen and (max-width: 479px) {
    .wpb_topic-img-section{
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .wpb_topic-box{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/*= End of Thumbnail-7 ==============>>>>>*/

/*=============================================>>>>>
 = Thumbnails-8 =
===============================================>>>>>*/

.wbp_thumbnails-wrapper-8{
    max-width: 1172px;
  margin: 0 auto;
  width: calc(100% - 30px);
}
.wpb_thumnail-section-8 {
    padding-top: 32px;
}
.wbp_thumbnails-wrapper-8 h2 {
    font: 700 18px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-align: center;
    margin: 0 0 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.wbp_thumbnails-wrapper-8 h2 span {
    display: inline-block;
}
.wbp_thumbnails-wrapper-8 h2 span:after {
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
    margin-bottom: 2px;
    margin-top: 4px;
}
.wpb_tab-section-8 {
    width: calc(100% - 113px);
    margin-left: 113px;
    display: table;
}
.wpb_tab-section-8 li {
    font: 600 16px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    letter-spacing: 0.03em;
    display: table-cell;
}
.wpb_tab-section-8 li a {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 27px 14px;
    color: #808080;
    text-align: center;
}
.wpb_tab-section-8 li.active a ,.wpb_tab-section-8 li a:hover{
    background: #fff;
    color: #000;
    text-decoration: none;
}
.tab-content {
    background: #fff;
    padding: 6.5px 6.5px;
}
.col-1-4 {
        float: left;
    width: 25%;
}
.wpb_thumnail-panel-inner-8 {
    display: block;
    position: relative;
    padding-bottom: 66.5%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 0;
}
.wpb_thumnail-panel-8 {
    padding: 7px 6.82px;
    float: left;
}
.wpb_thumnail-panel-8>a {
    width: 100%;
    position: relative;
    display: block;
}
.wpb_thumnail-panel-detail-8 {
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    left: 0;
    bottom: 0;
    padding: 11px 11px;
    z-index: 1;
}
.wpb_thumnail-panel-detail-8 h3 {
    font: 700 16px 'Droid Serif', Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.1;
    color: #fff;
    margin: 0 0 6px;
}
.wpb_tags-8 {
    font-size: 0;
}
.wpb_tags-8 span {
    display: inline-block;
    padding: 1px 6px;
    border: 1px solid #fff;
    font: 400 10px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}
.wpb_thumnail-panel-8:nth-child(3) .wpb_thumnail-panel-inner-8, .wpb_thumnail-panel-8:nth-child(7) .wpb_thumnail-panel-inner-8 {
    padding-bottom: 137.67%;
}
.wpb_thumnail-panel-8:nth-child(5) .wpb_thumnail-panel-inner-8 {
    padding-bottom: 67%;
}
.col-1-2 {
    width: 50%;
}
.col-1-12{
    width: 100%;
    float: left;
}
.wpb_tab-content-8:after{
    content: '';
    display: table;
    clear: both;
}
.wpb_thumnail-panel-8:nth-child(5), .wpb_thumnail-panel-8:nth-child(7) {
  margin-top: -17%;
}
.wpb_load-more-8 {
  width: 372px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  background: #dbdbdb;
  text-align: center;
  font: 400 16px 'Open Sans', Arial, Helvetica, sans-serif;
  padding: 10px 8px;
  color: #000000;
}
@media screen and (max-width: 1050px) {
    .wpb_thumnail-panel-8 {
        width: 50%;
    }
    .wpb_thumnail-panel-8:nth-child(3) .wpb_thumnail-panel-inner-8, .wpb_thumnail-panel-8:nth-child(7) .wpb_thumnail-panel-inner-8, .wpb_thumnail-panel-inner-8, .wpb_thumnail-panel-8:nth-child(5) .wpb_thumnail-panel-inner-8 {
        padding-bottom: 66.5%;
    }
    .wpb_tab-section-8 li{
        font-size: 14px;
    }
    .wpb_tab-section-8{
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }

    .wpb_tab-section-8 li a{
        padding: 8px;
    }
    .wpb_thumnail-panel-8:nth-child(5), .wpb_thumnail-panel-8:nth-child(7){
        margin-top: 0;
    }
    .wpb_thumnail-panel-8:nth-child(7){
        width: 100%;
    }
    .wpb_thumnail-panel-8:nth-child(7) .wpb_thumnail-panel-inner-8{
        padding-bottom: 66.667%;
    }
}
@media screen and (max-width: 600px) {
    .wpb_thumnail-panel-8{
        width: 100%;
    }
}
@media screen and (max-width: 479px) {
    .wpb_tab-section-8 li{
        width: 100%;
        display: block;
    }
    .wbp_thumbnails-wrapper-8 h2{
        font-size: 14px;
    }
}

/*= End of Thumbnails-8 ==============>>>>>*/

/*=============================================>>>>>
 = Branch Section =
===============================================>>>>>*/
.wpb_brandsSection-9 .wpb_col-3{
    width: 33.333%;
    float: left;
    padding-bottom: 33.333%;
    position: relative;
    background: #fdfdfd;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.wpb_brandsSection-9 .wpb_col-3:nth-child(odd){
    background: #f8f8f8;
}
.wpb_brandsSection-9{
    width: 100%;
    max-width: 1280px;
    margin:0 auto;
}
.wpb_brandsSection-9 .wpb_brandlogo-9{
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/*= End of Branch Section ==============>>>>>*/